.layout-row {
    display: flex;
    flex-direction: row;
}

.layout-col {
    display: flex;
    flex-direction: column;
}

.horizontal-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.arrow {
    margin-left: 10px;
    margin-right: 10px;
}

.day-item-header {
    div {
        padding: 10px;
        flex: 1;
        font-weight: bold;
    }
}

.day-item {
    flex: 1;
    line-height: 36px;
    min-height: 36px;
}

.selected {
    background-color: #e0edff;
}

.disabled {
    color: #cfcfcf;
}

.dayofweek {
    font-size: 1.5em;
}

.day {
    font-size: 3em;
}

.month {
    font-size: 1.5em;
}

.year {
    font-size: 1.5em;
}

.month-year {
    font-size: 1.3em;
    padding: 10px;
}

.top-banner {
    background-color: #CC1F2C;
    color: white;
    width: 100%;
    padding: 10px;
    // min-height: 100px;
}

.calendar-item-container {
    width: 100%;
    padding: 5px;
    min-height: 262px;
}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.calendar-camouflage {
    color: #CC1F2C;
}