.hello-ionic-page {

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
    background: green;
  }

}

.sal-att-logo-container, .sal-att-logo-container:visited, .sal-att-logo-container:hover, .sal-att-logo-container:active {
  color:#FFFFFF;
  background-color: #FFFFFF;
}      

#collabBtn, #collabBtn:visited, #collabBtn:hover, #collabBtn:active {
  color:#FFFFFF; 
  background-color: #FFFFFF;
}

#collabImg, #collabImg:visited, #collabImg:hover, #collabImg:active {
  color:#FFFFFF; 
  background-color: #FFFFFF;
}
