<ion-header>
    <app-header back="true" title="Admin - Groups">
    </app-header>
</ion-header>

<ion-content>
    <section id="mygroups-list">
        <ion-grid>
            <ion-row style="font-weight:bold">
                <ion-col >Organization</ion-col>
                <ion-col>Group Type</ion-col>
                <ion-col>Group Name</ion-col>
                <ion-col>Group ID</ion-col>
                <ion-col >Status</ion-col>
            </ion-row>
                <ion-row *ngFor="let org of orgs">
                    <ion-col class="linked-group" (click)="openGroupProfile(org)">{{org.name}}</ion-col>
                    <ion-col>{{(org.org_type) ? org.org_type.name : 'Not Selected'}}</ion-col>
                    <ion-col class="linked-group" (click)="openGroupProfile(org)">{{org.group}}</ion-col>
                    <ion-col>{{org.id}}</ion-col>
                    <ion-col class="linked-group" (click)="openGroupActionModal(org, 'approval')" *ngIf="org.approval_status == '1'">Pending</ion-col>
                    <ion-col class="linked-group" (click)="openGroupActionModal(org, 'approval')" *ngIf="org.approval_status == '4'">Declined</ion-col>
                    <ion-col class="linked-group" (click)="openGroupActionModal(org, 'active')" *ngIf="org.approval_status != '1' && org.approval_status != '4'">
                        {{ org.status == 0 ? 'Active' : 'Inactive'}}
                    </ion-col>
               </ion-row>
        </ion-grid>
    </section> 
<section>
    <ion-grid>
    <ion-row>
        <ion-col> <button ion-button color="primary" (click)="back()">Close</button></ion-col>
        <ion-col> <button ion-button color="primary" (click)="back()">Create</button></ion-col>
    </ion-row>
    </ion-grid>
</section>
<section id="tab-content" padding>
    <div class="sal-att-logo-container">
        <img src="assets/img/collaboration.svg" />
    </div>
</section>
<div style="min-height: 10vh !important;"></div>
</ion-content>
