<ion-header>
    <app-header back="true" title="Groups">
    </app-header>
</ion-header>

<ion-content>
 
    
    <section id="legend-header">
        <ion-grid>
       
            <ion-row>
                <ion-col col-3>Status Legend</ion-col>
                <ion-col col-3><ion-icon name="checkmark" color="active"></ion-icon> active</ion-col>
                <ion-col col-3><ion-icon name="help" color="pending"></ion-icon> pending</ion-col>
                <ion-col col-3></ion-col>
            </ion-row>
        </ion-grid>
    </section>
    <hr/>

    <section id="mygroups-list">
        <ion-grid>
            <ion-row style="font-weight:bold">
                <ion-col col-3></ion-col>
                <ion-col col-3>Organization</ion-col>
                <ion-col col-3>Group Name</ion-col>
                <ion-col col-3>Status</ion-col>
            </ion-row>
            <div *ngFor="let pendingOrg of pendingOrgs">
                <ion-row>
                    <ion-col col-3></ion-col>
                    <ion-col col-3 class="linked-group" (click)="approveGroup(pendingOrg)">{{pendingOrg.organization.name}}</ion-col>
                    <ion-col col-3 class="linked-group" (click)="approveGroup(pendingOrg)">{{pendingOrg.organization.group}}</ion-col>
                    <ion-col col-3><ion-icon name="help" color="pending"></ion-icon></ion-col>
               </ion-row>
            </div>

            <div *ngFor="let org of orgs">
                <ion-row>
                    <ion-col col-3></ion-col>
                    <ion-col col-3 class="linked-group" (click)="openGroupProfile(org)">{{org.name}}</ion-col>
                    <ion-col col-3 class="linked-group" (click)="openGroupProfile(org)">{{org.group}}</ion-col>
                    <ion-col col-3><ion-icon name="checkmark" color="active"></ion-icon></ion-col>
               </ion-row>
            </div>
        </ion-grid>
    </section> 
    


    <ion-row>
        <ion-col></ion-col>
        <ion-col>
            <button ion-button color="primary" (click)="back()">Cancel</button>
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
</ion-content>
