<ion-header>
  <ion-navbar>
  <ion-label style="margin-left: 50px;">Doing the Most Good</ion-label>
    <!--  <ion-title style="font-size: 1.3rem !important;">Doing the most good</ion-title>
    -->
    <ion-buttons end>
    <!-- <button ion-button icon-left color="danger" *ngIf="!username" id="login-button" (click)="login()">
     <ion-icon name="log-in"></ion-icon>
     {{'Guest' | translate}}
    </button>
    <button ion-button icon-left color="danger" *ngIf="username" (click)="login()">
    <ion-icon name="log-out"></ion-icon>
     {{username}}
    </button> -->
    <!-- <button ion-button icon-only>
      <ion-icon name="settings"></ion-icon>
    </button> -->
    <button ion-button icon-only menuToggle style="display: inline-block;">
      <ion-icon name="menu"></ion-icon>
    </button>
	</ion-buttons>
  </ion-navbar>
<ion-toolbar secondary>
<ion-buttons begin>
<button *ngIf="username" icon-button icon-left>
       <ion-icon name="contact"></ion-icon>
       {{username}}
</button>
<button *ngIf="!username" icon-button icon-left>
       <ion-icon name="person-add"></ion-icon>
Sign In
</button>
<button icon-button icon-left>
<ion-icon name="swap"></ion-icon>
Espanol?
</button>
</ion-buttons>
	<!-- <ion-label *ngIf="!username">Welcome Guest</ion-label>
	<ion-label *ngIf="username">Welcome {{username}}</ion-label> -->
    <ion-buttons end>
     <button ion-button icon-left *ngIf="username" (click)="login()">
    <ion-icon name="log-out"></ion-icon>
     Logout
    </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <section id="loginpage-bar">
    <button id="back-button" (click)="back()">{{'< Back' | translate}}</button>
  </section>


<ion-content padding>

  <section id="tab-content">
  <h3>Volunteer Login Registration</h3>

  <ion-item no-lines *ngFor="let error of errors">
    <ion-icon name="alert" item-left></ion-icon>
    <p style="color: red">{{error}}</p>
  </ion-item>

  <ion-item no-lines class="">
    <ion-icon name="contact" item-left isActive="false" [class.error]="usernameerror"></ion-icon>
    <ion-label floating>Username</ion-label>
    <ion-input required type="text" class="" [(ngModel)]="username" required></ion-input>
  </ion-item>

  <ion-item no-lines class="">
    <ion-icon name="lock" item-left isActive="false" [class.error]="password1error"></ion-icon>
    <ion-label floating>Password</ion-label>
    <ion-input required type="password" placeholder="" class="" [(ngModel)]="password1" required></ion-input>
  </ion-item>

  <ion-item no-lines class="">
    <ion-icon name="lock" item-left isActive="false" [class.error]="password2error"></ion-icon>
    <ion-label floating>Confirm Password</ion-label>
    <ion-input required type="password" placeholder="" class="" [(ngModel)]="password2" required></ion-input>
  </ion-item>
  <ion-list radio-group [(ngModel)]="pcmethod">

    <ion-list-header>
      Please select your prefered method of account validation.
    </ion-list-header>

    <ion-item no-lines >
      <ion-radio checked="true" value="email" class="pcm-radio"></ion-radio>
      <ion-icon name="mail" item-left isActive="false" class="pcm-icon" [class.error]="emailerror"></ion-icon>
      <ion-label floating>email</ion-label>
      <ion-input required type="email" placeholder=""  [(ngModel)]="email" required></ion-input>
    </ion-item>

    <ion-item no-lines >
      <ion-radio checked="false" value="sms" class="pcm-radio"></ion-radio>
      <ion-icon name="call" item-left isActive="false" class="pcm-icon" [class.error]="smserror"></ion-icon>
      <ion-label floating>Mobile Phone Number</ion-label>
      <ion-input type="phone" placeholder=""  [(ngModel)]="phone" required></ion-input>
    </ion-item>

  </ion-list>
  <ion-item no-lines class="">
    <button primary block large round (click)="register()">Register Login</button>
  </ion-item>
  </section>

</ion-content>