<ion-header>
	<app-header back="true">
		<button  ion-button small color="primary" (click)="register()">
			{{'Create New Account' | translate}}
		</button>
	</app-header>
</ion-header>
<ion-content scroll="true" class="has-subheader">

	<section id="login-page">

		<ion-list>
			<ion-item no-lines *ngFor="let error of errors" >
				<ion-icon name="alert" item-left class="error"></ion-icon>
				<p class="error">{{error | translate}}</p>
			</ion-item>
			<form (ngSubmit)="login()">
			<div class="absolute-container">

				<ion-icon class="popover-icon" name="information-circle" (click)="presentPopover($event)"></ion-icon>

				<ion-item no-lines>
					<ion-icon *ngIf="usernameerror"  name="alert" item-left isActive="false" [class.error]="passworderror"></ion-icon>
					<ion-label stacked>{{ 'Username' | translate}}</ion-label>
					<ion-input name="username" required type="text" placeholder="" [(ngModel)]="username" autocapitalize="off"></ion-input>
				</ion-item>
			</div>
			<div class="absolute-container">
				<a id="show-link" (click)="showPassword()">{{(showpassword==='password') ? 'Show' : 'Hide'}}</a>

				<ion-icon class="popover-icon" name="information-circle" (click)="presentPasswordPopover($event)"></ion-icon>

				<ion-item no-lines>
					<ion-icon *ngIf="passworderror" name="alert" item-left isActive="false" [class.error]="passworderror"></ion-icon>
					<ion-label stacked>{{ 'Password' | translate}}</ion-label>
					<ion-input name="password" required [type]="showpassword" placeholder="" [(ngModel)]="password" ></ion-input>
				</ion-item>
			</div>
			<ion-item no-lines>
				<ion-label>{{ 'Save My Login' | translate}}</ion-label>
				<ion-checkbox name="remember" dark [(ngModel)]="remember"></ion-checkbox>
			</ion-item>
			<!--ion-item no-lines>
				<button ion-button color="primary" block large (click)="login()">{{ 'Login' | translate}}</button>
			</ion-item-->

			<ion-item no-lines>
				<p clear (click)="forgot()">{{ 'Forgot User ID/Password' | translate}}</p>
			</ion-item>
			<input type="submit" hidden>
			</form>
		</ion-list>
	</section>
</ion-content>
<ion-footer class="action-footer">
	<ion-grid>
		<ion-row>
			<ion-col width-50>
				<button ion-button color="primary" (click)="back()">Cancel</button>
			</ion-col>
			<ion-col width-50>
				<button ion-button color="primary" (click)="login()">Login</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>