<ion-header>
	<app-header back="true">
		<button style="float: right;color: #fff;background-color: #FF173D; margin: 0px 13px;padding: 15px 15px;font-size: 1.3rem;height: 1.8rem;" ion-button color="primary" (click)="register()">
			{{'Create New Account' | translate}}
		</button>
	</app-header>
</ion-header>
<ion-content scroll="true" class="has-subheader">

	<section id="login-page">

		<ion-list>
			<ion-item no-lines *ngFor="let error of errors" >
				<ion-icon name="alert" item-left class="error"></ion-icon>
				<p class="error">{{error | translate}}</p>
			</ion-item>

			<div class="absolute-container">

				<ion-icon class="popover-icon" name="information-circle" (click)="presentPopover($event)"></ion-icon>

				<ion-item no-lines [class.error]="!username.valid && username.touched">
					<ion-icon name="alert" [class.error]="!username.valid && username.touched" item-left isActive="false" *ngIf="!username.valid && username.touched"></ion-icon>
					<ion-label stacked>{{ 'Username' | translate}}</ion-label>
					<ion-input required type="text" placeholder="" [(ngModel)]="username" (focus)="errors=[]"></ion-input>
				</ion-item>
			</div>
			<div class="absolute-container">
				<a id="show-link" (click)="showPassword()">{{(showpassword==='password') ? 'Show' : 'Hide'}}</a>

				<ion-icon class="popover-icon" name="information-circle" (click)="presentPasswordPopover($event)"></ion-icon>

				<ion-item no-lines [class.error]="!password.valid && password.touched">
					<ion-icon *ngIf="passworderror" name="alert" item-left isActive="false" [class.error]="passworderror"></ion-icon>
					<ion-label stacked>{{ 'Password' | translate}}</ion-label>
					<ion-input required [type]="showpassword" placeholder="" [(ngModel)]="password" (focus)="errors=[]"></ion-input>
				</ion-item>
			</div>
			<ion-item no-lines>
				<ion-label>{{ 'Save My Login' | translate}}</ion-label>
				<ion-checkbox dark [(ngModel)]="remember"></ion-checkbox>
			</ion-item>
			<!--ion-item no-lines>
				<button ion-button color="primary" block large (click)="login()">{{ 'Login' | translate}}</button>
			</ion-item-->

			<ion-item no-lines>
				<p clear (click)="forgot()">{{ 'Forgot User ID/Password' | translate}}</p>
			</ion-item>
		</ion-list>
	</section>
</ion-content>
<ion-footer class="action-footer">
	<ion-grid>
		<ion-row>
			<ion-col width-50>
				<button ion-button color="primary" (click)="back()">Cancel</button>
			</ion-col>
			<ion-col width-50>
				<button ion-button color="primary" (click)="login()">Login</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>