.login {
  background: silver;
}
.loginitem {
  background: silver;
  margin: 10px 0px 10px 0px;
  .logininput {
    background: white;
    padding: 0 10px 0 10px;
  }
}

.error {
  color: red;
  background: white;
}

.button-clear {
  text-transform: none;
  font-size: 1.6rem;
}


#loginpage-bar{
    //top: 44px;
    background: #f8f8f8;
    display: block;
    width: 100%;
    height: 54px;
    //position: absolute;
    //z-index: 2;
    #back-button {
      float: left;
      color: black;    
      font-size: x-large;
      height: 46px;
      background: transparent;
    }
    #login-button {
        float: right;
      color: black;    
      font-size: x-large;
      height: 46px;
      background: transparent;

    }
}

#login-page #show-link {    
    position: absolute;
    z-index: 9;
    left: 153px;
    margin-top: 11px;
    font-size: small;
}

#login-page .popover-icon {
    position: absolute;
    z-index: 9;
    left: 122px;
    margin-top: 9px;
    font-size: larger;
    color: #FF173D;
}