# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore
/nbproject/
.sourcemaps/
/src/lib/
node_modules/
www/
dist/
platforms/
plugins/
hooks/
*.swp
.DS_Store
Thumbs.db
.tmp
npm-debug.log

### vscode editors ####
.vscode/
