// http://ionicframework.com/docs/v2/theming/

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/tabs/home/home";
@import "../pages/tabs/tabs";
@import "../pages/logon/logon";
@import "../pages/tabs/donate/donate";
@import "../pages/register-login/register-login";

@font-face {
  font-family: "TrajanPro";
  src: url("../../assets/fonts/TrajanPro-Regular.otf") format("truetype");
}

@font-face {
  font-family: "AJensonPro";
  src: local("AJensonPro-Bold"), local("AJensonPro Bold"), url("../../assets/fonts/AJensonPro-Bold.otf") format("truetype"); 
}

@font-face {
  font-family: "AJensonPro";
  src: local("AJensonPro-Regular"), local("AJensonPro Regular"), url("../../assets/fonts/AJensonPro-Regular.otf") format("truetype"); 
}

@font-face {
  font-family: "AJensonPro";
  font-style: italic;
  src: local("AJensonPro-Italic"), local("AJensonPro-Italic"), url("../../assets/fonts/AJensonPro-It.otf") format("truetype"); 
}


h1, h2, h3, h4, h5, h6 {
    font-family: TrajanPro;
}

.toolbar-content {
    font-family: TrajanPro;
}

.toolbar-background {
    background-image: url("../../assets/img/logo.svg");
    background-repeat: no-repeat;
    background-size: auto 85%;
    background-position: left 5px top 5px;
}

//CUSTOM CONTENT
.content-pad{
max-width: 95%;
margin: auto;
}

.flex-card{
display: flex;
flex-direction: column;
flex: 1 0 auto;
margin-bottom: 0px;
}

button.readmore{
margin-top: auto;
}


.item-label-stacked .text-input, .item-label-floating .text-input {
     border:1px solid;   
     padding: 0 10px;
    height: 3rem;
    border-radius: 5px;
}
