<ion-list radio-group [(ngModel)]="pcmethod">
			<ion-list-header>
				 Prefered contact method
			</ion-list-header>
				<ion-item><ion-label>Email</ion-label>
					<ion-radio value="email"></ion-radio>
				</ion-item>
				
				<ion-item><ion-label>Mobile Phone</ion-label>
					<ion-radio value="sms"></ion-radio>
				</ion-item>
				
		</ion-list>
		<div class="absolute-container">

			
			<div [ngSwitch]="pcmethod">
			<ion-item no-lines *ngSwitchCase="'email'">
				<ion-label stacked >Email Address</ion-label>
				<ion-input required type="text" class="" [(ngModel)]="pcvalue" required></ion-input>
			</ion-item>
			
				<!--<ion-label stacked *ngSwitchDefault >Mobile Number</ion-label> -->
				<ion-grid class="phone-number" *ngSwitchDefault > 
				<ion-row>
					<ion-col width-25>
						<ion-item no-lines>
							<ion-label stacked></ion-label>
							<ion-input type="tel" placeholder="" class="" [(ngModel)]="mobileNumberAreaCode" required minlength="3" maxlength="3"></ion-input>
						</ion-item>
					</ion-col>
					<ion-col width-25>
						<ion-item no-lines>
							<ion-label stacked></ion-label>
							<ion-input type="tel" placeholder="" class="" [(ngModel)]="mobileNumberPrefix" required minlength="3" maxlength="3"></ion-input>
						</ion-item>
					</ion-col>
					<ion-col width-50>
						<ion-item no-lines>
							<ion-label stacked></ion-label>
							<ion-input type="tel" placeholder="" class="" [(ngModel)]="mobileNumberLineNumber" required minlength="4" maxlength="4"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				</ion-grid>
				</div>
			
		</div>