.flex-card {
    padding: 15px 5px 5px 15px; 
}
.card-header{
    font-size: 30pt;
}
.swiper-pagination-bullet {
    background: gray;
    stroke: red;

    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: red;
  }