<ion-header>
	<app-header back="true" title="My Profile">
	</app-header>
	<!--ion-toolbar secondary>
		<ion-buttons begin>
			<button *ngIf="userServices.user.id" ion-button icon-left (click)="back()">
			<ion-icon name="contact"></ion-icon>
			{{userServices.user.name}}
			</button>
			<button *ngIf="!userServices.user.id" ion-button icon-left (click)="login()">
			<ion-icon name="person-add"></ion-icon>
				Sign In
			</button>
		</ion-buttons>
		<ion-buttons end>
			<button ion-button icon-left (click)="back()">
				<ion-icon name="ios-arrow-back"></ion-icon>
					{{'Back' | translate}}
    		</button>
		</ion-buttons>
	</ion-toolbar-->
</ion-header>

<ion-content>

	<section id="register-individual-profile-page">
	<ion-card><ion-card-header>Profile Image</ion-card-header>
  <img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png"/>
<ion-row><ion-col>
<button ion-button block icon-left><ion-icon name="cloud-upload"></ion-icon>Upload New Profile Image</button>
</ion-col></ion-row>
</ion-card>

		<ion-item no-lines *ngFor="let error of errors">
			<ion-icon name="alert" item-left></ion-icon>
			<p style="color:#CC1F2C">{{error}}</p>
		</ion-item>

		<form (ngSubmit)="register()">
			<input type="submit" class="hidden-submit">
				<!-- My Credentials -->
				<ion-list class="toggle-section">
					<ion-list-header (click)="myCredentials=!myCredentials; onClick($event)" [class.selected]="myCredentials">
						{{"My Credentials" | translate }}
						<ion-icon *ngIf="!myCredentials" primary item-right name="ios-add-circle-outline"></ion-icon>
						<ion-icon *ngIf="myCredentials" primary item-right name="ios-remove-circle-outline"></ion-icon>
					</ion-list-header>
					<div class="toggle-section-content" [class.hide-section]="!myCredentials">
						<ion-list>
							<ion-item no-lines class="">
								<ion-icon name="alert" item-left [class.error]="firstnameerror" *ngIf="firstnameerror"></ion-icon>
								<ion-label stacked>{{"First Name" | translate }}</ion-label>
								<ion-input name="myProfile.first_name" type="string"  class="" [(ngModel)]="myProfile.first_name" required></ion-input>
							</ion-item>

							<ion-item no-lines class="">
								<ion-icon name="alert" item-left [class.error]="lastnameerror" *ngIf="lastnameerror"></ion-icon>
								<ion-label stacked>{{"Last Name" | translate }}</ion-label>
								<ion-input name="myProfile.last_name" type="string"  class="" [(ngModel)]="myProfile.last_name" required></ion-input>
							</ion-item>

							<ion-item no-lines class="">
								<ion-icon name="alert" item-left [class.error]="birthdateerror" *ngIf="birthdateerror"></ion-icon>
								<ion-label stacked>{{"Birth Date" | translate }}</ion-label>
								<ion-datetime name="myProfile.birthdate" displayFormat="MMM DD YYYY" [(ngModel)]="myProfile.birthdate"></ion-datetime>
							</ion-item>

							<ion-item no-lines class="">
								<ion-icon name="alert" item-left [class.error]="gendererror" *ngIf="gendererror"></ion-icon>
								<ion-label stacked>{{"Gender" | translate }}</ion-label>
								<ion-select name ="myProfile.gender" [(ngModel)]="myProfile.gender" >
									<ion-option *ngFor="let m of genders" [value]="m.id">{{m.value}}</ion-option>
								</ion-select>
							</ion-item>

							<ion-item no-lines class="">
								<ion-icon name="alert" item-left [class.error]="address1error" *ngIf="address1error"></ion-icon>
								<ion-label stacked>{{"Address 1" | translate }}</ion-label>
								<ion-input name="myProfile.address1" type="string" placeholder="" class="" [(ngModel)]="myProfile.address1" ></ion-input>
							</ion-item>

							<ion-item no-lines class="">
								<ion-icon name="alert" item-left [class.error]="address2error" *ngIf="address2error"></ion-icon>
								<ion-label stacked>{{"Address 2" | translate }}</ion-label>
								<ion-input name="myProfile.address2" type="string" placeholder="" class="" [(ngModel)]="myProfile.address2" ></ion-input>
							</ion-item>

							<ion-item no-lines class="">
								<ion-icon name="alert" item-left [class.error]="cityerror" *ngIf="cityerror"></ion-icon>
								<ion-label stacked>{{"City" | translate }}</ion-label>
								<ion-input name="myProfile.city" type="string" placeholder="" class="" [(ngModel)]="myProfile.city" ></ion-input>
							</ion-item>

							<ion-item no-lines class="">
								<ion-icon name="alert" item-left [class.error]="stateerror" *ngIf="stateerror"></ion-icon>
								<ion-label stacked>{{"State" | translate }}</ion-label>
								<ion-select name="myProfile.state" [(ngModel)]="myProfile.state" >
									<ion-option *ngFor="let m of availablePreferences.usstates" [value]="m[0]">{{m[1]}}</ion-option>
								</ion-select>
							</ion-item>

							<ion-item no-lines class="">
								<ion-icon name="alert" item-left [class.error]="zipcodeerror" *ngIf="zipcodeerror"></ion-icon>
								<ion-label stacked>{{"Zip Code" | translate }}</ion-label>
								<ion-input name="myProfile.zipcode" type="string" placeholder="" class="" [(ngModel)]="myProfile.zipcode" ></ion-input>
							</ion-item>

						</ion-list>
					</div>
				</ion-list>

				<!-- Preferred Contact -->
				<ion-list class="toggle-section">
					<ion-list-header (click)="preferredContactSection=!preferredContactSection; onClick($event)" [class.selected]="preferredContactSection">
						{{"Preferred Contact Method" | translate }}
						<ion-icon *ngIf="!preferredContactSection" primary item-right name="ios-add-circle-outline"></ion-icon>
						<ion-icon *ngIf="preferredContactSection" primary item-right name="ios-remove-circle-outline"></ion-icon>
					</ion-list-header>
					<div class="toggle-section-content" [class.hide-section]="!preferredContactSection">
							<ion-item no-lines class="">
							<ion-icon name="alert" item-left [class.error]="my_contactmethod_iderror" *ngIf="my_contactmethod_iderror"></ion-icon>
								<section>
									<div class="radio-choice" *ngFor="let m of availablePreferences.contactmethods">
										<input name="myProfile.contactmethod" [id]="'radio-' + m.id" type="radio" [(ngModel)]="myProfile.contactmethod" [value]="m.id" />
										<label [attr.for]="'radio-' + m.id">{{m.name}}</label>
									</div>
								</section>
							</ion-item>						
						<ion-list>
							<ion-item no-lines>
								<ion-icon name="alert" item-left [class.error]="mobilenumbererror" *ngIf="mobilenumbererror"></ion-icon>
								<ion-label stacked>{{"Mobile Phone" | translate }}</ion-label>
							</ion-item>
							
							<ion-grid class="phone-number">
								<phone-input idsuffix="preferred" [ac]="mobileNumberAreaCode" [np]="mobileNumberPrefix" [nn]="mobileNumberLineNumber"></phone-input>
							</ion-grid>
							<ion-item no-lines>
								<ion-icon name="alert" item-left [class.error]="emailerror" *ngIf="emailerror"></ion-icon>
								<ion-label stacked>{{"Email" | translate }}</ion-label>
								<ion-input name="myProfile.email" type="string" placeholder="" class="" [(ngModel)]="myProfile.email"></ion-input>
							</ion-item>
						</ion-list>
					</div>
				</ion-list>

				<!-- Emergency Contact -->
				<ion-list class="toggle-section">
					<ion-list-header (click)="emergencyContactSection=!emergencyContactSection; onClick($event)" [class.selected]="emergencyContactSection">
						{{"Emergency Contact" | translate }}
						<ion-icon *ngIf="!emergencyContactSection" primary item-right name="ios-add-circle-outline"></ion-icon>
						<ion-icon *ngIf="emergencyContactSection" primary item-right name="ios-remove-circle-outline"></ion-icon>
					</ion-list-header>
					<div class="toggle-section-content" [class.hide-section]="!emergencyContactSection">
						<ion-list>
							<ion-item no-lines class="">
								<ion-icon name="alert" item-left [class.error]="ecfirstnameerror" *ngIf="ecfirstnameerror"></ion-icon>
								<ion-label stacked>{{"First Name" | translate }}</ion-label>
								<ion-input name="myProfile.emergency_contact.first_name" type="string" placeholder="" class="" [(ngModel)]="myProfile.emergency_contact.first_name"></ion-input>
							</ion-item>

							<ion-item no-lines class="">
								<ion-icon name="alert" item-left [class.error]="eclastnameerror" *ngIf="eclastnameerror"></ion-icon>
								<ion-label stacked>{{"Last Name" | translate }}</ion-label>
								<ion-input name="myProfile.emergency_contact.last_name" type="string" placeholder="" class="" [(ngModel)]="myProfile.emergency_contact.last_name"></ion-input>
							</ion-item>

							<ion-item no-lines class="">
								<ion-icon name="alert" item-left [class.error]="ecrelationerror" *ngIf="ecrelationerror"></ion-icon>
								<ion-label stacked>{{"Relationship" | translate }}</ion-label>
								<ion-select name="myProfile.emergency_contact.relation" [(ngModel)]="myProfile.emergency_contact.relation" >
									<ion-option *ngFor="let m of relationships" [value]="m">{{m}}</ion-option>
								</ion-select>
							</ion-item>

							<ion-item no-lines class="">
								<ion-icon name="alert" item-left [class.error]="ecmobilenumbererror" *ngIf="ecmobilenumbererror"></ion-icon>
								<ion-label stacked>{{"Emergency Contact's Phone" | translate }}</ion-label>
							</ion-item>
							<ion-grid class="phone-number">
							<phone-input idsuffix="emergency" [ac]="ecMobileNumberAreaCode" [np]="ecMobileNumberPrefix" [nn]="ecMobileNumberLineNumber"></phone-input>
								<!-- <ion-row>
									<ion-col width-25>
										<ion-item no-lines>
											<ion-label stacked></ion-label>
											<ion-input name="ecMobileNumberAreaCode" type="tel" placeholder="" class="" [(ngModel)]="ecMobileNumberAreaCode" minlength="3" maxlength="3"></ion-input>
										</ion-item>
									</ion-col>
									<ion-col width-25>
										<ion-item no-lines>
											<ion-label stacked></ion-label>
											<ion-input name="ecMobileNumberPrefix" type="tel" placeholder="" class="" [(ngModel)]="ecMobileNumberPrefix" minlength="3" maxlength="3"></ion-input>
										</ion-item>
									</ion-col>
									<ion-col width-50>
										<ion-item no-lines>
											<ion-label stacked></ion-label>
											<ion-input name="ecMobileNumberLineNumber" type="tel" placeholder="" class="" [(ngModel)]="ecMobileNumberLineNumber" minlength="4" maxlength="4"></ion-input>
										</ion-item>
									</ion-col>
								</ion-row>
								 -->
							</ion-grid>

							<ion-item no-lines class="">
								<ion-icon name="alert" item-left [class.error]="ecaltnumbererror" *ngIf="ecaltnumbererror"></ion-icon>
								<ion-label stacked>{{"Emergency Contact's Alternate Phone" | translate }}</ion-label>
							</ion-item>
							<ion-grid class="phone-number">
							<phone-input idsuffix="emergencyalt" [ac]="ecAltMobileNumberAreaCode" [np]="ecAltMobileNumberPrefix" [nn]="ecAltMobileNumberLineNumber"></phone-input>
								<!-- <ion-row>
									<ion-col width-25>
										<ion-item no-lines>
											<ion-label stacked></ion-label>
											<ion-input name="ecAltNumberAreaCode" type="tel" placeholder="" class="" [(ngModel)]="ecAltNumberAreaCode" minlength="3" maxlength="3"></ion-input>
										</ion-item>
									</ion-col>
									<ion-col width-25>
										<ion-item no-lines>
											<ion-label stacked></ion-label>
											<ion-input name="ecAltNumberPrefix" type="tel" placeholder="" class="" [(ngModel)]="ecAltNumberPrefix" minlength="3" maxlength="3"></ion-input>
										</ion-item>
									</ion-col>
									<ion-col width-50>
										<ion-item no-lines>
											<ion-label stacked></ion-label>
											<ion-input name="ecAltNumberLineNumber" type="tel" placeholder="" class="" [(ngModel)]="ecAltNumberLineNumber" minlength="4" maxlength="4"></ion-input>
										</ion-item>
									</ion-col>
								</ion-row> -->
							</ion-grid>

<!--
							<ion-item no-lines class="">
								<ion-icon name="globe" item-left [class.error]="ecaddress1error" *ngIf="ecaddress1error"></ion-icon>
								<ion-label stacked>{{"Address 1" | translate }}</ion-label>
								<ion-input type="string" placeholder="" class="" [(ngModel)]="myProfile.emergency_contact.address1" ></ion-input>
							</ion-item>

							<ion-item no-lines class="">
								<ion-icon name="globe" item-left [class.error]="ecaddress2error" *ngIf="ecaddress2error"></ion-icon>
								<ion-label stacked>{{"Address 2" | translate }}</ion-label>
								<ion-input type="string" placeholder="" class="" [(ngModel)]="myProfile.emergency_contact.address2" ></ion-input>
							</ion-item>

							<ion-item no-lines class="">
								<ion-icon name="globe" item-left [class.error]="eccityerror" *ngIf="eccityerror"></ion-icon>
								<ion-label stacked>{{"City" | translate }}</ion-label>
								<ion-input type="string" placeholder="" class="" [(ngModel)]="myProfile.emergency_contact.city" ></ion-input>
							</ion-item>

							<ion-item no-lines class="">
								<ion-icon name="globe" item-left [class.error]="ecstateerror" *ngIf="ecstateerror"></ion-icon>
								<ion-label stacked>{{"State" | translate }}</ion-label>
								<ion-select [(ngModel)]="myProfile.emergency_contact.state" >
									<ion-option *ngFor="let m of availablePreferences.usstates" [value]="m[0]">{{m[1]}}</ion-option>
								</ion-select>
							</ion-item>

							<ion-item no-lines class="">
								<ion-icon name="globe" item-left [class.error]="eczipcodeerror" *ngIf="eczipcodeerror"></ion-icon>
								<ion-label stacked>{{"Zip Code" | translate }}</ion-label>
								<ion-input type="string" placeholder="" class="" [(ngModel)]="myProfile.emergency_contact.zipcode" ></ion-input>
							</ion-item>
-->
						</ion-list>
					</div>
				</ion-list>

				<!-- Change Password -->
				<ion-list class="toggle-section">
					<ion-list-header (click)="changePasswordSection=!changePasswordSection; onClick($event)" [class.selected]="changePasswordSection">
						{{"Change Password" | translate }}
						<ion-icon *ngIf="!changePasswordSection" primary item-right name="ios-add-circle-outline"></ion-icon>
						<ion-icon *ngIf="changePasswordSection" primary item-right name="ios-remove-circle-outline"></ion-icon>
					</ion-list-header>
					<div class="toggle-section-content" [class.hide-section]="!changePasswordSection">
						<ion-list>

							<ion-item no-lines class="">
								<ion-icon name="alert" item-left isActive="false" [class.error]="passworderror" *ngIf="passworderror"></ion-icon>
								<ion-label stacked>Old Password</ion-label>
								<ion-input name="passwordForm.old_password" type="password" class="" [(ngModel)]="passwordForm.old_password"></ion-input>
							</ion-item>
							<div class="absolute-container">
								<a id="show-link" (click)="showPassword()">{{(showpassword==='password') ? 'Show' : 'Hide'}}</a>

								<ion-icon class="popover-icon" name="information-circle" (click)="presentPasswordPopover($event)"></ion-icon>
								<ion-item no-lines [class.error]="password1error">
									<ion-icon name="alert" item-left isActive="false" [class.error]="password1error" *ngIf="password1error"></ion-icon>
									<ion-label stacked>{{ 'New Password' | translate}} </ion-label>
									<ion-input name="passwordForm.new_password1" [type]="showpassword" placeholder="" [(ngModel)]="passwordForm.new_password1"></ion-input>
								</ion-item>
							</div>
							<ion-item no-lines class="">
								<ion-icon name="alert" item-left isActive="false" [class.error]="password2error" *ngIf="password2error"></ion-icon>
								<ion-label stacked>Confirm New Password</ion-label>
								<ion-input name="passwordForm.new_password2" type="password" placeholder="" class="" [(ngModel)]="passwordForm.new_password2"></ion-input>
							</ion-item>

						</ion-list>
					</div>
				</ion-list>

				<!-- Volunteer Types -->
				<ion-list class="toggle-section">
					<ion-list-header (click)="volunteerTypesSection=!volunteerTypesSection; onClick($event)"  [class.selected]="volunteerTypesSection">
						{{"Volunteer Types" | translate }}
						<ion-icon *ngIf="!volunteerTypesSection" primary item-right name="ios-add-circle-outline"></ion-icon>
						<ion-icon *ngIf="volunteerTypesSection" primary item-right name="ios-remove-circle-outline"></ion-icon>
					</ion-list-header>
					<div class="toggle-section-content" [class.hide-section]="!volunteerTypesSection">
						<ion-list>
							<ion-item no-lines class="">
								<ion-icon name="alert" item-left [class.error]="my_volunteertype_iderror" *ngIf="my_volunteertype_iderror"></ion-icon>
								<ion-label stacked>{{"Volunteer Type" | translate }}: {{myProfile.volunteertype}}</ion-label>

								<!--<ion-select [(ngModel)]="myProfile.my_volunteertype_id" required>
									<ion-option *ngFor="let m of availablePreferences.volunteertypes" [value]="m.id">{{m.name}}</ion-option>
								</ion-select>-->

							</ion-item>
							<!-- This is commented temporarily because R1 is for individual only
							<ion-item no-lines class="">
								<section>
									<div class="radio-choice" *ngFor="let m of availablePreferences.volunteertypes">
										<input [id]="'radio-' + m.id" type="radio" [(ngModel)]="myProfile.my_volunteertype_id" [value]="m.id" />
										<label [attr.for]="'radio-' + m.id">{{m.name}}</label>
									</div>
								</section>
							</ion-item>
							-->
							<ion-item no-lines class="">
								<ion-icon name="alert" item-left [class.error]="my_referalsource_iderror" *ngIf="my_referalsource_iderror"></ion-icon>
								<ion-label stacked>{{"Referral Source" | translate }}</ion-label>
								<ion-select name="myProfile.my_referalsource_id" [(ngModel)]="myProfile.my_referalsource_id" >
									<ion-option *ngFor="let m of availablePreferences.referalsources | referralsource:myProfile.my_volunteertype_id" [value]="m.id">{{m.name}}</ion-option>
								</ion-select>
							</ion-item>

						</ion-list>
					</div>
				</ion-list>

				<!-- Interested Service Areas -->
				<ion-list class="toggle-section">
					<ion-list-header (click)="serviceAreasSection=!serviceAreasSection; onClick($event)"  [class.selected]="serviceAreasSection">
						{{"Interested Service Areas" | translate }}
						<ion-icon *ngIf="!serviceAreasSection" primary item-right name="ios-add-circle-outline"></ion-icon>
						<ion-icon *ngIf="serviceAreasSection" primary item-right name="ios-remove-circle-outline"></ion-icon>
					</ion-list-header>
					<div class="toggle-section-content" [class.hide-section]="!serviceAreasSection">
<!--
						<ion-list>
							<ion-item no-lines class="">
								<ion-icon name="alert" item-left [class.error]="my_servicearea_iderror" *ngIf="my_servicearea_iderror"></ion-icon>
								<ion-label stacked>{{"Service Area" | translate }}</ion-label>
								<ion-select [(ngModel)]="myProfile.my_servicearea_id" >
									<ion-option *ngFor="let m of availablePreferences.serviceareas" [value]="m.id">{{m.name}}</ion-option>
								</ion-select>
							</ion-item>
						</ion-list>
-->
						<div>
							<div class="multi-choice" *ngFor="let m of formServiceAreas">
								<ion-item no-lines>
									<ion-label>{{m.name}}</ion-label>
									<ion-checkbox [ngModelOptions]="{standalone: true}" dark [(ngModel)]="m.selected"></ion-checkbox>
								</ion-item>
							</div>
						</div>
					</div>
				</ion-list>

				<!-- Your Skills -->
<!--
				<ion-list class="toggle-section">
					<ion-list-header (click)="skillsSection=!skillsSection"  [class.selected]="skillsSection">
						{{"Your Skills" | translate }}
						<ion-icon *ngIf="!skillsSection" primary item-right name="ios-add-circle-outline"></ion-icon>
						<ion-icon *ngIf="skillsSection" primary item-right name="ios-remove-circle-outline"></ion-icon>
					</ion-list-header>
					<div class="toggle-section-content" [class.hide-section]="!skillsSection">
						<ion-list>
						</ion-list>
					</div>
				</ion-list>
-->

				<!-- Your Preferred Locations for Service -->

				<ion-list class="toggle-section">
					<ion-list-header (click)="locationsSection=!locationsSection"  [class.selected]="locationsSection">
						{{"Event Preferences" | translate }}
						<ion-icon *ngIf="!locationsSection" primary item-right name="ios-add-circle-outline"></ion-icon>
						<ion-icon *ngIf="locationsSection" primary item-right name="ios-remove-circle-outline"></ion-icon>
					</ion-list-header>
					<div class="toggle-section-content" [class.hide-section]="!locationsSection">
						<ion-list>
						</ion-list>
					</div>
				</ion-list>

			
<!-- Not sure what is going in here				
			<div *ngSwitchCase="'acknowledgements'">
				<ion-item no-lines class="">
					<ion-icon name="alarm" item-left [class.error]="notification_optionerror"></ion-icon>
					<ion-label stacked>{{"Notification Option" | translate }}</ion-label>
					<ion-input type="string" placeholder="" class="" [(ngModel)]="myProfile.notification_option" ></ion-input>
				</ion-item>

				<ion-item no-lines class="">
					<ion-icon name="pizza" item-left [class.error]="my_donationtype_iderror"></ion-icon>
					<ion-label stacked>{{"Donation Type" | translate }}</ion-label>
					<ion-select [(ngModel)]="myProfile.my_donationtype_id" >
						<ion-option *ngFor="let m of availablePreferences.donationtypes" [value]="m.id">{{m.name}}</ion-option>
					</ion-select>
				</ion-item>

				<ion-item no-lines class="">
					<ion-icon name="call" item-left [class.error]="acceptedwaivererror"></ion-icon>
					<ion-label>{{"Accept Waiver" | translate }}</ion-label>
					<ion-checkbox dark [(ngModel)]="myProfile.accepted_waiver"></ion-checkbox>
				</ion-item>

				<ion-item no-lines class="">
					<ion-icon name="call" item-left [class.error]="acceptedpolicyerror"></ion-icon>
					<ion-label>{{"Accept Policy" | translate }}</ion-label>
					<ion-checkbox dark [(ngModel)]="myProfile.accepted_policy"></ion-checkbox>
				</ion-item>

				<ion-item no-lines class="">
					<ion-icon name="call" item-left [class.error]="com_opt_inerror"></ion-icon>
					<ion-label>{{"Opt In" | translate }}</ion-label>
					<ion-checkbox dark [(ngModel)]="myProfile.comm_opt_in"></ion-checkbox>
				</ion-item>
			</div>
-->
		</form>
	</section>

</ion-content>

<ion-footer class="action-footer">
	<ion-grid>
		<ion-row>
			<ion-col width-50>
				<button ion-button color="primary" (click)="back()">Cancel</button>
			</ion-col>
			<ion-col width-50>
				<button ion-button color="primary" (click)="register()">Save</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>
