<ion-header>
    <app-header back="true" title="My Profile">
    </app-header>
</ion-header>

<ion-content>
    <p *ngIf="requiredFieldError" align="center"><span style="color:#CC1F2C">Please Note:</span> All required fields must be completed in order to sign up for a volunteer event.</p>
    <section id="register-individual-profile-page">
        

        <form>
            <input type="submit" class="hidden-submit">

            <!-- My Credentials -->
            <accordion-box #accordionMyCredentials accordionTitle="*{{'My Info' | translate}}">
                <ion-list class="accordion-content">
                    <ion-item no-lines *ngIf="firstnameerror" class="word-wrap: break-word;" text-wrap>
                        <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                        <p style="color:#CC1F2C">{{firstnameerrorvalue}}</p>
                    </ion-item>
                    <ion-item no-lines class="">
                        <ion-label stacked>*{{"First Name" | translate }}</ion-label>
                        <ion-input name="myProfile.first_name" type="string" class="" [(ngModel)]="myProfile.first_name"></ion-input>
                    </ion-item>

                    <ion-item no-lines *ngIf="lastnameerror" class="word-wrap: break-word;" text-wrap>
                        <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                        <p style="color:#CC1F2C">{{lastnameerrorvalue}}</p>
                    </ion-item>
                    <ion-item no-lines class="">
                        <ion-label stacked>*{{"Last Name" | translate }}</ion-label>
                        <ion-input name="myProfile.last_name" type="string" class="" [(ngModel)]="myProfile.last_name"></ion-input>
                    </ion-item>

                    <ion-item no-lines *ngIf="birthdateerror" class="word-wrap: break-word;" text-wrap>
                        <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                        <p style="color:#CC1F2C">{{birthdateerrorvalue}}</p>
                    </ion-item>
                    <ion-item no-lines class="">
                        <ion-label stacked>*{{"Birth Date" | translate }}</ion-label>
                        <ion-datetime name="myProfile.birthdate" displayFormat="MMM DD YYYY" [(ngModel)]="myProfile.birthdate" (ngModelChange)="birthdateChanged($event)"></ion-datetime>
                    </ion-item>

                    <ion-item no-lines *ngIf="gendererror" class="word-wrap: break-word;" text-wrap>
                        <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                        <p style="color:#CC1F2C">{{gendererrorvalue}}</p>
                    </ion-item>
                    <ion-item no-lines class="">
                        <ion-label stacked>*{{"Gender" | translate }}</ion-label>
                        <ion-select name="myProfile.gender" [(ngModel)]="myProfile.gender">
                            <ion-option *ngFor="let m of genders" [value]="m.id">{{m.value}}</ion-option>
                        </ion-select>
                    </ion-item>

                    <ion-item no-lines *ngIf="address1error" class="word-wrap: break-word;" text-wrap>
                        <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                        <p style="color:#CC1F2C">{{address1errorvalue}}</p>
                    </ion-item>
                    <ion-item no-lines class="">
                        <ion-label stacked>{{"Address 1" | translate }}</ion-label>
                        <ion-input name="myProfile.address1" type="string" placeholder="" class="" [(ngModel)]="myProfile.address1"></ion-input>
                    </ion-item>

                    <ion-item no-lines *ngIf="address2error" class="word-wrap: break-word;" text-wrap>
                        <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                        <p style="color:#CC1F2C">{{address2errorvalue}}</p>
                    </ion-item>
                    <ion-item no-lines class="">
                        <ion-label stacked>{{"Address 2" | translate }}</ion-label>
                        <ion-input name="myProfile.address2" type="string" placeholder="" class="" [(ngModel)]="myProfile.address2"></ion-input>
                    </ion-item>

                    <ion-item no-lines *ngIf="cityerror" class="word-wrap: break-word;" text-wrap>
                        <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                        <p style="color:#CC1F2C">{{cityerrorvalue}}</p>
                    </ion-item>
                    <ion-item no-lines class="">
                        <ion-label stacked>{{"City" | translate }}</ion-label>
                        <ion-input name="myProfile.city" type="string" placeholder="" class="" [(ngModel)]="myProfile.city"></ion-input>
                    </ion-item>

                    <ion-item no-lines *ngIf="stateerror" class="word-wrap: break-word;" text-wrap>
                        <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                        <p style="color:#CC1F2C">{{stateerrorvalue}}</p>
                    </ion-item>
                    <ion-item no-lines class="">
                        <ion-label stacked>{{"State" | translate }}</ion-label>
                        <ion-select name="myProfile.state" [(ngModel)]="myProfile.state">
                            <ion-option *ngFor="let m of availablePreferences.usstates" [value]="m[0]">{{m[1]}}</ion-option>
                        </ion-select>
                    </ion-item>

                    <ion-item no-lines *ngIf="zipcodeerror" class="word-wrap: break-word;" text-wrap>
                        <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                        <p style="color:#CC1F2C">{{zipcodeerrorvalue}}</p>
                    </ion-item>
                    <ion-item no-lines class="">
                        <ion-item no-lines *ngIf="zipcodeerror" class="word-wrap: break-word;" text-wrap>
                            <ion-icon name="alert" [class.error]="zipcodeerror" item-start></ion-icon>
                            <p style="color:#CC1F2C">{{error}}</p>
                        </ion-item>
                        <ion-label stacked>{{"Zip Code" | translate }}</ion-label>
                        <ion-input name="myProfile.zipcode" type="string" placeholder="" class="" [(ngModel)]="myProfile.zipcode"></ion-input>
                    </ion-item>

                </ion-list>
            </accordion-box>

            <!-- Preferred Contact -->
            <accordion-box #accordionPreferredContact accordionTitle="*{{'Preferred Contact Method' | translate}}">
                <div class="accordion-content">
                    <ion-item no-lines *ngIf="my_contactmethod_iderror" class="word-wrap: break-word;" text-wrap>
                        <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                        <p style="color:#CC1F2C">{{my_contactmethod_iderrorvalue}}</p>
                    </ion-item>
                    <ion-list radio-group name="contactmethodlist" [ngModel]="myProfile.contactmethod" (ngModelChange)="updateContactMethodName()">
                        <ion-item>
                            <ion-radio name="Email" [id]="2" value="2" ngDefaultControl></ion-radio>
                            <ion-label [attr.for]="Email">Email</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-radio name="Phone" [id]="4" value="4" ngDefaultControl></ion-radio>
                            <ion-label [attr.for]="Phone">Phone</ion-label>
                        </ion-item>
                    </ion-list>
                    
                    <ion-list>
                        <ion-item no-lines *ngIf="mobilenumbererror" class="word-wrap: break-word;" text-wrap>
                            <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                            <p style="color:#CC1F2C">{{mobilenumbererrorvalue}}</p>
                        </ion-item>
                        <ion-item no-lines>
                            <ion-item no-lines [class.error]="mobilenumbererror" *ngIf="mobilenumbererror" class="word-wrap: break-word;" text-wrap>
                                <ion-icon name="alert" [class.error]="mobilenumbererror" item-start></ion-icon>
                                <p style="color:#CC1F2C">{{error}}</p>
                            </ion-item>
                            <ion-label stacked>{{"Mobile Phone" | translate }}</ion-label>
                        </ion-item>
                        <phone-input #preferredNumber idsuffix="preferred" [pn]="mobileNumber"></phone-input>
                       
                        <ion-item no-lines *ngIf="emailerror" class="word-wrap: break-word;" text-wrap>
                            <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                            <p style="color:#CC1F2C">{{emailerrorvalue}}</p>
                        </ion-item>
                        <ion-item no-lines>
                            <ion-label stacked>{{"Email" | translate }}</ion-label>
                            <ion-input name="myProfile.email" type="string" placeholder="" class="" [(ngModel)]="myProfile.email"></ion-input>
                        </ion-item>
                        <ion-item no-lines>
                            <ion-label>{{"Notify me about upcoming events" | translate }}</ion-label>
                            <ion-toggle></ion-toggle>
                        </ion-item>
                    </ion-list>
                </div>
            </accordion-box>

            <!-- Emergency Contact -->
            <accordion-box #accordionEmergencyContact accordionTitle="*{{'Emergency Contact' | translate}}">
                <ion-list class="accordion-content">
                    <ion-item no-lines *ngIf="ecfirstnameerror" class="word-wrap: break-word;" text-wrap>
                        <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                        <p style="color:#CC1F2C">{{ecfirstnameerrorvalue}}</p>
                    </ion-item>
                    <ion-item no-lines class="">
                        <ion-label stacked>*{{"First Name" | translate }}</ion-label>
                        <ion-input name="myProfile.emergency_contact.first_name" type="string" placeholder="" class="" [(ngModel)]="myProfile.emergency_contact.first_name"></ion-input>
                    </ion-item>

                    <ion-item no-lines *ngIf="eclastnameerror" class="word-wrap: break-word;" text-wrap>
                        <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                        <p style="color:#CC1F2C">{{eclastnameerrorvalue}}</p>
                    </ion-item>
                    <ion-item no-lines class="">
                        <ion-label stacked>*{{"Last Name" | translate }}</ion-label>
                        <ion-input name="myProfile.emergency_contact.last_name" type="string" placeholder="" class="" [(ngModel)]="myProfile.emergency_contact.last_name"></ion-input>
                    </ion-item>

                    <ion-item no-lines *ngIf="ecrelationerror" class="word-wrap: break-word;" text-wrap>
                        <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                        <p style="color:#CC1F2C">{{ecrelationerrorvalue}}</p>
                    </ion-item>
                    <ion-item no-lines class="">
                        <ion-label stacked>*{{"Relationship" | translate }}</ion-label>
                        <ion-select name="myProfile.emergency_contact.relation" [(ngModel)]="myProfile.emergency_contact.relation">
                            <ion-option *ngFor="let m of relationships" [value]="m">{{m}}</ion-option>
                        </ion-select>
                    </ion-item>

                    <ion-item no-lines *ngIf="ecmobilenumbererror" class="word-wrap: break-word;" text-wrap>
                        <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                        <p style="color:#CC1F2C">{{ecmobilenumbererrorvalue}}</p>
                    </ion-item>
                    <ion-item no-lines class="">
                        <ion-label stacked>*{{"Emergency Contact's Phone" | translate }}</ion-label>
                    </ion-item>
                    <phone-input #emergencyNumber idsuffix="emergency" [pn]="ecMobileNumber"></phone-input>

                    <ion-item no-lines *ngIf="ecaltnumbererror" class="word-wrap: break-word;" text-wrap>
                        <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                        <p style="color:#CC1F2C">{{ecaltnumbererrorvalue}}</p>
                    </ion-item>
                    <ion-item no-lines class="">
                        <ion-label stacked>{{"Emergency Contact's Alternate Phone" | translate }}</ion-label>
                    </ion-item>
                    <phone-input #emergencyAlternate idsuffix="emergencyalt" [pn]="ecAltNumber"></phone-input>
                </ion-list>
            </accordion-box>

            <!-- Volunteer Types -->
            <accordion-box #accordionVolunteerTypes accordionTitle="{{'Volunteer Types' | translate}}">
                <ion-list class="accordion-content">
                    <ion-item no-lines *ngIf="my_volunteertype_iderror" class="word-wrap: break-word;" text-wrap>
                        <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                        <p style="color:#CC1F2C">{{my_volunteertype_iderrorvalue}}</p>
                    </ion-item>
                    <ion-item no-lines class="">
                        <ion-label stacked>{{"Volunteer Type" | translate }}: {{myProfile.volunteertype}}</ion-label>

                    </ion-item>
                   
                    <ion-item no-lines *ngIf="my_referalsource_iderror" class="word-wrap: break-word;" text-wrap>
                        <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                        <p style="color:#CC1F2C">{{my_referalsource_iderrorvalue}}</p>
                    </ion-item>
                    <ion-item no-lines class="">
                        <ion-label stacked>{{"Referral Source" | translate }}</ion-label>
                        <ion-select name="myProfile.my_referalsource_id" [(ngModel)]="myProfile.my_referalsource_id">
                            <ion-option *ngFor="let m of availablePreferences.referalsources | referralsource:myProfile.my_volunteertype_id" [value]="m.id">{{m.name}}</ion-option>
                        </ion-select>
                    </ion-item>

                </ion-list>
            </accordion-box>

            <!-- Your Preferred Locations for Service -->
            <accordion-box #accordionPreferredLocations accordionTitle="{{'Event Location Preferences' | translate}}">
                <div class="accordion-content">
                    <ion-searchbar></ion-searchbar>
                    <ion-row wrap responsive-sm padding>
                        <div class="multi-choice" *ngFor="let m of formLocations">
                            <ion-item no-lines>
                                <ion-label>{{m.name}}<br>{{m.address1}}<br>{{m.city}}, {{m.state}} {{m.zip}}</ion-label>
                                <ion-checkbox [ngModelOptions]="{standalone: true}" dark [(ngModel)]="m.selected"></ion-checkbox>
                            </ion-item>
                        </div>
                    </ion-row>
                </div>
            </accordion-box>

            <!-- Interested Service Areas -->
            <accordion-box #accordionServiceAreas accordionTitle="{{'Interested Service Areas' | translate}}">
                <div class="accordion-content">
                    <div class="multi-choice" *ngFor="let m of formServiceAreas">
                        <ion-item no-lines>
                            <ion-label>{{m.name}}</ion-label>
                            <ion-checkbox [ngModelOptions]="{standalone: true}" dark [(ngModel)]="m.selected"></ion-checkbox>
                        </ion-item>
                    </div>
                </div>
            </accordion-box>

            <!-- Change Password -->
            <accordion-box #accordionChangePassword accordionTitle="{{'Change Password' | translate}}">

                <ion-list class="accordion-content">

                    <ion-item no-lines *ngIf="passworderror" class="word-wrap: break-word;" text-wrap>
                        <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                        <p style="color:#CC1F2C">{{passworderrorvalue}}</p>
                    </ion-item>
                    <ion-item no-lines class="">
                        <ion-label stacked>Old Password</ion-label>
                        <ion-input name="passwordForm.old_password" type="password" class="" [(ngModel)]="passwordForm.old_password" clearOnEdit="false"></ion-input>
                    </ion-item>
                    <div class="absolute-container">
                        <a id="show-link" (click)="showPassword()">{{(showpassword==='password') ? 'Show' : 'Hide'}}</a>


                        <ion-item no-lines *ngIf="password1error" class="word-wrap: break-word;" text-wrap>
                            <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                            <p style="color:#CC1F2C">{{password1errorvalue}}</p>
                        </ion-item>

                        <ion-icon class="popover-icon" name="information-circle" (click)="presentPasswordPopover($event)"></ion-icon>
                        <ion-item no-lines [class.error]="password1error">
                            <ion-label stacked>{{ 'New Password' | translate}} </ion-label>
                            <ion-input name="passwordForm.new_password1" [type]="showpassword" placeholder="" [(ngModel)]="passwordForm.new_password1" clearOnEdit="false"></ion-input>
                        </ion-item>
                    </div>
                    <ion-item no-lines *ngIf="password2error" class="word-wrap: break-word;" text-wrap>
                        <ion-icon name="alert" style="color: #CC1F2C;" item-start></ion-icon>
                        <p style="color:#CC1F2C">{{password2errorvalue}}</p>
                    </ion-item>
                    <ion-item no-lines class="">
                        <ion-label stacked>Confirm New Password</ion-label>
                        <ion-input name="passwordForm.new_password2" [type]="showpassword" placeholder="" class="" [(ngModel)]="passwordForm.new_password2" clearOnEdit="false"></ion-input>
                    </ion-item>

                </ion-list>
            </accordion-box>

            <ion-row>
                <ion-col></ion-col>
                <ion-col>
                    <button ion-button color="primary" (click)="back()">Cancel</button>
                </ion-col>
                <ion-col></ion-col>
                <ion-col>
                    <button ion-button color="primary" (click)="register()">Save</button>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>

            <!-- Ionic's footer overlaps some elements. Adding a spacer -->
            <div style="min-height: 10vh !important;"></div>
        </form>
    </section>
</ion-content>
