.login {
  background: silver;
}

.loginitem {
  background: silver;
  margin: 10px 0px 10px 0px;
  .logininput {
    background: white;
    padding: 0 10px 0 10px;
  }

}

#register-individual-profile-page #show-link {    
    position: absolute;
    z-index: 9;
    left: 170px;
    margin-top: 11px;
    font-size: small;
}

#register-individual-profile-page .popover-icon {
    position: absolute;
    z-index: 9;
    left: 144px;
    margin-top: 9px;
    font-size: larger;
    color: map-get($colors, primary);
}

ion-card{

	img{
	max-width: 200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	}
}

.md {
  .input-wrapper {
    margin-bottom: 1px;
  }
  .phoneNumber {
    margin-top: 15px;
  }
}