.item .pcm-radio {
    position: absolute;
    left: 0;
    width: 100px;
}

.pcm-icon {
    padding-left: 30px;
}

ion-label[stacked] {
    font-size: 2.2rem;
}

#pcm-choice {
    padding: 10px;
    margin-left: 8px;
}

#pcm-input {
    border: 1px solid;
    padding: 0 10px;
    height: 3rem;
    border-radius: 5px;
    input {
        margin-top: 5px;
    }
}

.center {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#register-login-page #show-link {
    position: absolute;
    z-index: 9;
    left: 145px;
    margin-top: 11px;
    font-size: small;
}

#register-login-page .popover-icon {
    position: absolute;
    z-index: 9;
    left: 115px;
    margin-top: 9px;
    font-size: larger;
    color: map-get($colors, primary);
}

#register-login-page .reviewpandt {
    padding: 1px;
}

#reviewptbtn {
    font-size: small !important;
}

#register-login-page .iaccept {
    padding: 1px;
}

#acceptlbl {
    font-size: small !important;
}

.item-checkbox-right {
    flex-direction: row-reverse;
}

.no-text-transform {
    text-transform: none !important;
}