<ion-header>

    <ion-navbar>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">Close</button>
        </ion-buttons>
        <ion-title>Group Attendee</ion-title>
    </ion-navbar>

</ion-header>


<ion-content [formGroup]="attendeeForm">
    
<ion-list>
<ion-item>Form value: {{ attendeeForm.value | json }}</ion-item>
<ion-item>Form status: {{ attendeeForm.status | json }}</ion-item>        
<ion-item-group>
            <ion-item>
                <ion-label color="primary" stacked>First Name</ion-label>
                <ion-input required minlength="4" formControlName="first_name"
                           placeholder="First Name" stacked></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" stacked>Last Name</ion-label>
                <ion-input  placeholder="Last Name" formControlName="last_name" stacked></ion-input>
            </ion-item>
        </ion-item-group>
        <ion-list radio-group formControlName="contactMethod" ngDefaultControl>
            <ion-list-header>
                Contact Type:
            </ion-list-header>
            <ion-item>
                <ion-label>Mobile</ion-label>
                <ion-radio  value="1"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Email</ion-label>
                <ion-radio value="2"></ion-radio>
            </ion-item>
        </ion-list>
            <ion-item  *ngIf="attendeeForm.value.contactMethod == 2">
                <ion-input formControlName="contactString" placeholder="email@address.com" ngDefaultControl stacked></ion-input>
            </ion-item>
            <phone-input-reactive *ngIf="attendeeForm.value.contactMethod == 1">
    
            </phone-input-reactive>
    </ion-list>
<ion-list>        
        <ion-item>
          <ion-label color="primary">Attending</ion-label>
          <ion-select ngDefaultControl formControlName="isAttending">
            <ion-option value="true">Yes</ion-option>
            <ion-option value="false">No</ion-option>
          </ion-select>
        </ion-item>
</ion-list>        



    <button ion-button color="secondary" (click)="dismiss()">Cancel</button>
    <button ion-button color="primary" [disabled]="attendeeForm.invalid" (click)="save()">Save</button>

</ion-content>