
  .block-tile-container {
    box-shadow: 0 4px 8px 0 rgba(133, 70, 70, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin-left: 5px;
    border-radius: 10px;
    margin-right: 5px;
    font-family: 'TrajanPro';
    padding-bottom: 15px;
    font-size: 1em;
  }
  .top-row { 
    margin-bottom: 10px;
  }

  .middle-row { 
    margin-bottom: 10px;
  }

  .bottom-row { 
    margin-bottom: 10px;
  }

  .icons {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);  
    text-align: center;
    font-size: 8px ;
    font-weight: 600;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
  }
  .image-text {
    display: block;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 3px;
    font: 0.8em;
  }
  .block-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    min-height: 50px;
    min-width: 56px;
    max-height: 180px;
    max-width: 180px;
  }

.img-container {
  position: relative;
}