<ion-header>
    <app-header></app-header>
</ion-header>
<ion-content padding-left padding-right padding-top scroll="false">
    <section>
        <ion-grid *ngIf='!eventCategory; else events'>
            <ion-row class="home-row">
                <ion-col  class="block-tile-container" (click)="selectEvent('Food Service')">
                    <img src="assets/img/FoodService.jpg" class="block-image">
                    <span class="image-text">Food Service</span>
                    <div class="icons">
                    <ion-icon *ngIf='urgentCategories["Food Service"].length > 0' name="alert" class="urgent">Urgent</ion-icon>
                    <ion-icon *ngIf='newCategories["Food Service"].length > 0' name="add-circle" class="new">New Events</ion-icon>
                    </div>
                </ion-col>
                <ion-col  class="block-tile-container" (click)="selectEvent('Food Pantry')" >
                    <img src="assets/img/FoodPantry.jpg" class="block-image">
                    <span class="image-text">Food Pantry</span>
                    <div class="icons">
                        <ion-icon *ngIf='urgentCategories["Food Pantry"].length > 0' name="alert" class="urgent">Urgent</ion-icon>
                        <ion-icon *ngIf='newCategories["Food Pantry"].length > 0' name="add-circle" class="new">New Events</ion-icon>            
                    </div>
                </ion-col>
                <ion-col  class="block-tile-container" (click)="selectEvent('Child Care')">
                    <img src="assets/img/Childcare.jpg" class="block-image">
                    <span class="image-text">Child Care</span>
                    <div class="icons">
                            <ion-icon *ngIf='urgentCategories["Child Care"].length > 0' name="alert" class="urgent">Urgent</ion-icon> 
                            <ion-icon *ngIf='newCategories["Child Care"].length > 0' name="add-circle" class="new">New Events</ion-icon>            
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="home-row">
                <ion-col  class="block-tile-container" (click)="selectEvent('Practicum Service')">
                    <img src="assets/img/Practicum.jpg" class="block-image">
                    <span class="image-text">Practicum Service</span>
                    <div class="icons">
                            <ion-icon *ngIf='urgentCategories["Practicum Service"].length > 0' name="alert" class="urgent">Urgent</ion-icon> 
                            <ion-icon *ngIf='newCategories["Practicum Service"].length > 0' name="add-circle" class="new">New Events</ion-icon>                  
                    </div>
                </ion-col>
                <ion-col  class="block-tile-container" (click)="selectEvent('Red Kettle')">
                    <img src="assets/img/BellRinging.jpg" class="block-image">
                    <span class="image-text">Red Kettle</span>
                    <div class="icons">
                            <ion-icon *ngIf='urgentCategories["Red Kettle"].length > 0' name="alert" class="urgent">Urgent</ion-icon> 
                            <ion-icon *ngIf='newCategories["Red Kettle"].length > 0' name="add-circle" class="new">New Events</ion-icon>                        
                    </div>
                </ion-col>
                <ion-col   class="block-tile-container" (click)="selectEvent('Clothing Warehouse')">
                    <img src="assets/img/ClothingWarehouse.jpg" class="block-image">
                    <span class="image-text">Clothing Warehouse</span>
                    <div class="icons">
                            <ion-icon *ngIf='urgentCategories["Clothing Warehouse"].length > 0' name="alert" class="urgent">Urgent</ion-icon> 
                            <ion-icon *ngIf='newCategories["Clothing Warehouse"].length > 0' name="add-circle" class="new">New Events</ion-icon>                              
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
            <ng-template #events>
                <events [category] ='eventCategory' [urgentCategories] = 'urgentCategories'
                [newCategories] = 'newCategories'></events>
            </ng-template>  
            <div style="min-height: 10vh !important;">
            </div>   
    </section>       
</ion-content>
