
  .block-tile-container {
    box-shadow: 0 4px 8px 0 rgba(133, 70, 70, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin-left: 5px;
    border-radius: 10px;
    margin-right: 5px;
    font-family: 'TrajanPro';
    padding-bottom: 25px;
    font-size: 1em;
  }
  .home-row { 
    margin-bottom: 15px;
  }
  .icons {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    font-size: 8px ;
    background: #ffffff;
    border-radius: 25px;
  }
  .urgent {
    color: red;
  }
  .new {
    color:  orange
  }
  .image-text {
    display: block;
    text-align: center;
    margin-top: 5px;
  }
  .block-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 85%;
    border-radius: 10px;
    max-height: 200px;
    max-width: 220px;
  }
