accordion-box{
ion-list.toggle-section.list-md {
  margin-bottom: 0px !important;
}

ion-list.toggle-section {
  margin-bottom: 10px !important;
}

ion-list.toggle-section ion-list-header {
  margin-top: 0px;
  border-top: 1px solid #ccc;
} 

ion-list.toggle-section:not(:last-child) ion-list-header {
  border-bottom: none;
} 

ion-list.toggle-section ion-list-header.selected {
  background-color: #ddd;
  color: black;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
} 

ion-list.toggle-section .toggle-section-content.hide-section {
  max-height: 0px;
}

.list-md .item-input:last-child {
    border-bottom: 0px;
}
ion-list.toggle-section .toggle-section-content {
 -webkit-transition: max-height 0.2s ease-in-out;
  -moz-transition: max-height 0.2s ease-in-out;
  -ms-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
  max-height: 1200px;
  overflow: hidden;
}
}