
.imageIcon{
    float:left;
}

.title1{
    font-size:18px;
    padding-top:5px;
}

.title2{
    font-size:12px;
    margin-top:0px;
}

.trademark{
    font-family:Times;
    font-size:10px;
}

.toolBar{
    min-height:30px;
    max-height:30px;
}

.backButton{
  
}

.registerBanner{
    font-size:9px;
    background-color: map-get($colors, primary);
    color: map-get($colors ,light);
    font-weight: bold;
}
