<ion-grid *ngIf='!eventCategory; else events'>
    <ion-row>
      <ion-col col-12 col-sm>
          <button type="button" (click)="selectEvent('Field Service')">Field Service</button>
          <span *ngIf='urgentCategories["Field Service"]'>Urgent</span>
      </ion-col>
      <ion-col col-12 col-sm>
            <button type="button" (click)="selectEvent('Food Pantry')">Food Pantry</button>
            <span *ngIf='urgentCategories["Food Pantry"]'>Urgent</span>
      </ion-col>
      <ion-col col-12 col-sm>
            <button type="button" (click)="selectEvent('Child Care')">Child Care</button>
            <span *ngIf='urgentCategories["Child Care"]'>Urgent</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm>
            <button type="button" (click)="selectEvent('Practicum Service')">Practicum Service</button>
            <span *ngIf='urgentCategories["Practicum Service"]'>Urgent</span>
      </ion-col>
      <ion-col col-12 col-sm>
            <button type="button" (click)="selectEvent('Red Kettle')">Red Kettle</button>
            <span *ngIf='urgentCategories["Red Kettle"]'>Urgent</span>
      </ion-col>
      <ion-col col-12 col-sm>
            <button type="button" (click)="selectEvent('Clothing Warehouse')">Clothing Warehouse</button>
            <span *ngIf='urgentCategories["Clothing Warehouse"]'>Urgent</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #events>
        <events [category]='eventCategory'></events>
  </ng-template>
<!-- 
<ion-slides #homeSlider class="homeslider" autoplay="3000" (ionSlideDidChange)="changeSlides($event)" pager>
    <ion-slide>
        <div class="slide"><img src="assets/img/Volunteers.jpg" /> </div>
    </ion-slide>
    <ion-slide>
        <div class="slide"><img src="assets/img/Homeless.jpg" /></div>
    </ion-slide>
    <ion-slide>
        <div class="slide"><img src="assets/img/Veterans.jpg" /></div>
    </ion-slide>
    <ion-slide>
        <div class="slide"><img src="assets/img/gentleman.jpg" /> </div>
    </ion-slide>
    <ion-slide>
        <div class="slide"><img src="assets/img/Building.jpg" /> </div>
    </ion-slide>
</ion-slides>

<ion-card class="title-card flex-card">
    <h2 style="text-align:center;margin-top:10px; margin-bottom: 0px;font-size:20px;font-weight:bold;">THE SALVATION ARMY</h2>
    <p style="font-size:18px;text-align:center;margin-top:0px;margin-bottom:0px">Carr P. Collins Social Service Center</p>
    <ion-card-content>
        <ion-list>
            <h3 style="font-weight:bold;text-align:center;margin-bottom:1px;">5,000 People Served</h3>
            <h3 style="font-weight:bold;text-align:center;margin-top:0px;">8,000 Volunteers</h3>
            <h3 style="font-weight:bold;text-align:center;margin-top:0px;">Annually</h3>
            
        </ion-list>
        <p style="text-align:left;margin-top:10px;">From serving meals, sorting clothes, making sandwiches and much more, volunteers can find their niche at The Salvation Army. Located west of downtown Dallas, The Carr P. Collins Social Service Center is next to Parkland Hospital on Harry Hines
            Boulevard. The 161,000 square foot center, which houses up to 600 people per night, is the largest multi-use facility in The Salvation Army world. Every year, thousands of people find the spiritual and practical help they need to change their
            lives. Nowhere else in Dallas will people find so many resources under one roof.</p>
    </ion-card-content>
</ion-card>
<ion-card class="flex-card">
    <ion-card-header>Services</ion-card-header>
    <ion-card-content>
        <accordion-box accordionTitle="{{'Meals' | translate}}" text-wrap>
            <div class="accordion-content">
                <p>Between 1,200 and 1,500 meals are served to clients at this center each day. Sack lunches are provided for clients going to work or for other community members needing a meal. At Thanksgiving and Christmas, the center opens its doors to
                    the community, offering a holiday feast to those individuals and families who may not otherwise have the opportunity. Volunteers can help serve clients breakfast, lunch or dinner. This is an opportunity for volunteers to interact with clients.
                </p>
            </div>
        </accordion-box>

        <accordion-box accordionTitle="{{'Food Pantry' | translate}}" text-wrap>
            <div class="accordion-content">
                <p>The Carr P. Collins Center distributes over 800 bags of groceries a month to community members in need. Households receive one bag per adult and additional bags for children based on family size. They are eligible to receive food pantry
                    services once every 30 days.Volunteers fill large bags with an assortment of groceries for individuals to take home to their families in need.
                </p>
            </div>
        </accordion-box>
		<accordion-box accordionTitle="{{'Clothing Warehouse' | translate}}" text-wrap>
            <div class="accordion-content">
                <p>The clothing warehouse provides shirts, pants, shoes and more to clients coming in with only the clothes on their back. While residing with us, clients look for jobs and are in need of work clothes. 
                    Thanks to our generous donors, clients can pick from an assortment of outfits at the Clothing Warehouse. Volunteers can help hang and organize incoming donations.
                </p>
            </div>
        </accordion-box>
        <accordion-box accordionTitle="{{'Worship Programs' | translate}}" text-wrap>
            <div class="accordion-content">
                <p>The Salvation Army is an evangelical part of the universal Christian church. Its message is based on the Bible. Its ministry is motivated by the love of God. Its mission is to preach the Gospel of Jesus Christ and to meet human needs in
                    His name without discrimination. The Carr P. Collins Center offers mainstream Christian teaching at Sunday School and worship services on Sunday, as well as Bible study and fellowship groups during the week.
                    Volunteers can assist with music and bible studies.
                </p>
            </div>
        </accordion-box>
        <accordion-box accordionTitle="{{'Life-Skills Classes' | translate}}" text-wrap>
            <div class="accordion-content">
                <p>Life-skills classes are an essential component of each of our programs and are designed to provide valuable education and information on the tools that will help our clients be successful as they move towards stability and independence.
                    Topics for life-skills classes include resume building, interview skills, health and nutrition, relapse prevention, coping skills and parenting.
                    Volunteers have the opportunity to visit with clients and teach them skills that will help them successfully transition to independence.
                </p>
            </div>
        </accordion-box>
		<accordion-box accordionTitle="{{'Offsite Volunteer Oportunities' | translate}}" text-wrap>
            <div class="accordion-content">
                <p>If you’re looking for a way to give back to those in need but don’t have time to visit The Salvation Army facility, Offsite Volunteer Opportunities are a good place to begin. There are several opportunities available for you or a group. 
                    The HUGS program provides new Hats, Underwear, Gloves and Socks to our city’s struggling population. Or you can help create Care Kits. These include toiletry kits, first aid kits, home starter kits and back-to-school backpacks filled with school supplies. 
                    There’s also an opportunity to make sandwiches and sack lunches. Each day we give out about 350 sack lunches to individuals needing food. You can also help by writing an encouraging word or saying on the sacks to uplift someone’s spirit. 
                    Volunteers can do any of these projects themselves or with a group when their schedule allows.
                </p>
            </div>
        </accordion-box>
    </ion-card-content>
</ion-card>
<ion-card class="flex-card">
    <ion-card-header>Programs</ion-card-header>
    <ion-card-content>
        <accordion-box accordionTitle="{{'Substance Abuse Treatment Program' | translate}}" text-wrap>
            <div class="accordion-content">
                <p>The Substance Abuse Treatment Program serves adult men and women who are battling addiction and who are on probation or parole for a felony crime related to their addiction. With 255 beds, this is the largest treatment program in North
                    Texas working with the Texas Department of Criminal Justice. The goal of the 90-day program is to provide clients with the tools to strengthen themselves against the stronghold of drug and alcohol addiction so they may live stable
                    and substance free lives.Individuals wishing to complete their LCDC Internships and Practicum can serve the clients in this program.
                </p>
            </div>
        </accordion-box>

        <accordion-box accordionTitle="{{'Veterans Programs' | translate}}" text-wrap>
            <div class="accordion-content">
                <p>The Carr P. Collins Center offers temporary housing and supportive services for male and female veterans experiencing homelessness. Veterans who are other than dishonorably discharged are screened and referred for placement by the Veteran's
                    Administration. The program can serve 110 veterans at a given time, and they can stay for up to 2 years. The overall goal is to provide a safe stable residential environment that meets their basic needs, while assisting the veterans
                    to achieve self-sufficiency.Individuals wishing to complete their Social Work Internships and Practicum can serve the clients in this program.
                </p>
            </div>
        </accordion-box>


        <accordion-box accordionTitle="{{'Emergency Shelter' | translate}}" text-wrap>
            <div class="accordion-content">
                <p>The Carr P. Collins Center's emergency shelter provides men, women, and women with children who are experiencing homelessness a safe refuge from the streets with sleeping accommodations, two hot meals a day, showers, clothes, and use of
                    laundry facilities. Through the emergency shelter, clients have access to longer term programming and additional services that address immediate barriers to stability.Volunteers can donate toiletry kits for shelter clients.
                     Individuals wishing to complete their Social Work Internships and Practicum can serve the clients in this program.
                </p>
            </div>
        </accordion-box>

        <accordion-box accordionTitle="{{'Transitional Shelter' | translate}}" text-wrap>
            <div class="accordion-content">
                <p>Thrive and Step-up transitional shelter programs serve men, women, and women with children who are experiencing homelessness. The Thrive program addresses the needs of those already working or work-ready. The Step-up Program addresses
                    the needs of those who are disabled due to mental illness, medical conditions, and/or substance abuse. The goals are to address barriers to stability, assist clients to successfully transition to permanent housing, and provide clients
                    the tools and resources so they can demonstrate housing stability six months after placement.Volunteers can donate home starter kits for those leaving the shelter for permanent housing. 
                    Individuals wishing to complete their Social Work Internships and Practicum can serve the clients in this program.
                </p>
            </div>
        </accordion-box>

        <accordion-box accordionTitle="{{'Domestic Violence Program (Confidential Location)' | translate}}" text-wrap>
            <div class="accordion-content">
                <p>The Domestic Violence Program offers safe shelter in a confidential location for battered women and their children. The program utilizes a trauma informed approach to service delivery, which includes safety planning, children's programming,
                    individual and group therapy, legal advocacy, and case management.Volunteers can donate comfort kits for the clients in this program.
                </p>
            </div>
        </accordion-box>

        <accordion-box accordionTitle="{{'Home Sweet Home' | translate}}" text-wrap>
            <div class="accordion-content">
                <p>The Home Sweet Home Program uses a combination of classroom and one-on-one client centered financial education coupled with limited direct financial assistance in order to prevent homelessness and support residential stability for at-risk
                    households. The goal is that through financial education, clients are empowered with the knowledge to effectively manage their finances to achieve and maintain residential stability.Individuals wishing to complete their Social Work Internships and Practicum can serve the clients in this program.
                     Volunteers can donate “Birthdays in a Bag” for the children in this program.
                </p>
            </div>
        </accordion-box>

        <accordion-box accordionTitle="{{'Summer Heat Relief - Cooling Station' | translate}}" text-wrap>
            <div class="accordion-content">
                <p>Extreme heat can be life-threatening. During the summer months, we provide an air-conditioned sitting area and water to keep people hydrated.
                    When temperatures rise above 90 degrees, volunteers can donate summer survival kits to be given out in our Cooling Station.
                </p>
            </div>

        </accordion-box>

    </ion-card-content>
</ion-card>

<ion-card class="flex-card" text-wrap>
    <ion-card-header>Useful Links</ion-card-header>
    <ion-card-content>
        <p><a [navPush]="contactPage">Contact Us</a></p>
        <p><a [navPush]="aboutPage">About Us</a></p>
    </ion-card-content>
</ion-card>

<div class="clear"></div>
<div class="clear dynamicPageSpacer"></div> -->