.privacy-terms-header {
    text-transform: none !important;
    margin: 2px 0;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.2;
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

[padding] h2.pt-secondary-header {
    margin-top: 0;
}