page-group-profile {

}
.fab {
width: 200px !important;
}
error-text
{
color: red;
}


@include media-breakpoint-down(sm) {
.member-modal {
    ion-backdrop {
      visibility: visible !important;
    }
    .modal-wrapper {
      border-radius: 10px 10px 0px 0px;
      overflow: hidden;
      top: 20%;
      left: 0;
      position: absolute;
      width: 100%;
      height: 80%;
    }
  }
}

.item-edit.input-has-focus input 
{
border-color:black !important;
border: 1px solid black !important;


}

.item-error input
{
border-color:black !important;
border: 1px solid black !important;


}

.item-edit-select.input-has-focus input 
{
border-color:black !important;
border: 1px solid black !important;


}

.item-error input
{
border-color:black !important;
border: 1px solid black !important;


}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: transparent;
    box-shadow: inset 0 -1px 0 0 #dedede;
}
ng-valid{
   border-bottom-color: transparent;
}
/* FIX */
.has-footer.has-tabs {
  bottom: 93px;
}
.has-tabs, .bar-footer.has-tabs {
  bottom: 49px;
}