<ion-header>
    <ion-title><h2>Member Details</h2></ion-title>
   
</ion-header>

              <ion-content>
             
              <form [formGroup]="userForm">
                <ion-list radio-group>
                  <ion-item>
                    <ion-label>First Name</ion-label>
                    <ion-input   formControlName='first_name'    ></ion-input>
                    </ion-item>
           		     <ion-label color='danger' class='error-text' *ngIf ="userForm.controls.first_name.touched && !userForm.controls.first_name.valid"> Required field. Must be at least 3 char </ion-label>
           		   
                   <ion-item>
                    <ion-label>Last Name</ion-label>
                    <ion-input formControlName='last_name'  ></ion-input>
                  </ion-item>
                     <ion-label color='danger' class='error-text' *ngIf ="userForm.controls.last_name.touched && !userForm.controls.last_name.valid"> Required field. Must be at least 3 char </ion-label>
           		 <ion-item>
           		 Primary Contact
           		 </ion-item>
                  <ion-item-group formControlName='contact_method' radio-group ngDefaultControl>
                  
				
				   <ion-item *ngFor="let option of ['Email','Phone']">
					<ion-label padding-left>{{option}}</ion-label>
					<ion-radio  value ="{{option}}"></ion-radio>
				  </ion-item>
				</ion-item-group>
				
				                
                  
 				
                  
                    <ion-item>
	                    <ion-label >Email</ion-label>
	                    <ion-input type='email' name='email' formControlName='email'></ion-input>
                    </ion-item>
                     
                    <ion-label color='danger' class='error-text' *ngIf ="userForm.controls.email.touched && !userForm.controls.email.valid"> Email or Phone is required </ion-label>
           		 	<ion-item>
	                    <ion-label >Phone</ion-label>
	                    <ion-input name='mobileNumber'  formControlName='mobilenumber' ></ion-input>
	                    
                 	</ion-item>
                    <ion-label color='danger' class='error-text' *ngIf ="userForm.controls.mobilenumber.touched && !userForm.controls.mobilenumber.valid"> Email or Phone is required </ion-label>
           		 
                 
                  <ion-item>
                  		<ion-label>Active</ion-label>
                  		<ion-checkbox formControlName='active'></ion-checkbox>
                  		
                  </ion-item>
                
                <div class="text-center">
           			<button ion-button color="secondary" (click)='closeModal()' padding-right> Cancel</button>    
        			<button ion-button (click)="save()" [disabled]="userForm.invalid" padding-left> Save</button>
        		</div>
        	
        		
        		 <div class="padding">
        		</div>
        </ion-list>
        </form></ion-content>
        
