.homeslider{
    padding: 10px 5px 5px 10px;
}

.swiper-pagination-bullet {
    background: gray;
    stroke: red;

    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: red;
  }