page-create-group {
    ion-input {
        
        width:100%;
        border-bottom: 0.5px solid black;
        border-top: 0.5px solid black;
        border-left: 0.5px solid black;
        border-right: 0.5px solid black;
        padding-left: 1%;
        padding-right: 5%;
        text-align: center;
    }
    ion-searchbar
    {
        width:100%;
        border-bottom: 0.5px solid black;
        border-top: 0.5px solid black;
        border-left: 0.5px solid black;
        border-right: 0.5px solid black;
        padding-left: 1%;
        padding-right: 5%;
        text-align: center;
    }
    .textarea{
        width:100%;
        border-bottom: 0.5px solid black;
        border-top: 0.5px solid black;
        border-left: 0.5px solid black;
        border-right: 0.5px solid black;
        padding-left: 1%;
        padding-right: 5%;
        text-align: center;
    }
    .hover-img{
        cursor: pointer;
    }
    .below-select{
        padding-top: 2%;
    }
    ion-select
    {
        max-width: 100% !important;
        max-height: 100%;
    }
    .wide{
        width:100%;
    }
    .popup{
        width: 500 vw;
    }
    .entry-div{
        height: 200px;
    }
    .input-height
    {
        height: 5vh;
    }
    h2{
        vertical-align: middle;
        text-align: center;
    }
    .member-header{
        min-height: 5vh;
        padding-top: 20%;

    }
  
}
