<ion-header>
    <app-header back="true" title="Change Password">
    </app-header>
</ion-header>

<ion-content>
    <section id="change-password-page">
        <ion-item no-lines *ngFor="let error of errors" class="word-wrap: break-word;" text-wrap>
            <ion-icon name="alert" item-left></ion-icon>
            <p style="color:#CC1F2C">{{error}}</p>
        </ion-item>
        <div class="absolute-container">
            <a id="show-link" (click)="showPassword()">{{(showpassword==='password') ? 'Show' : 'Hide'}}</a>
            <ion-icon class="popover-icon" name="information-circle" (click)="presentPasswordPopover($event)"></ion-icon>
            <ion-item no-lines [class.error]="password1error">
                <ion-icon name="alert" *ngIf="password2error" item-left isActive="false" [class.error]="password2error"></ion-icon>
                <ion-label stacked>{{ 'New Password' | translate}} </ion-label>
                <ion-input required [type]="showpassword" placeholder="" [(ngModel)]="password1" (ngModelChange)="checkRequirement($event)"></ion-input>
            </ion-item>
        </div>
        <ion-item no-lines class="">
            <ion-icon name="alert" *ngIf="password2error" item-left isActive="false" [class.error]="password2error"></ion-icon>
            <ion-label stacked>Confirm New Password</ion-label>
            <ion-input required type="password" placeholder="" class="" [(ngModel)]="password2" (ngModelChange)="checkRequirement($event)"></ion-input>
        </ion-item>

    </section>
</ion-content>
<ion-footer class="action-footer">
    <ion-grid>
        <ion-row>
            <ion-col width-50>
                <button ion-button color="primary" (click)="back()">Cancel</button>
            </ion-col>
            <ion-col width-50>
                <button ion-button color="primary" (click)="register()" [disabled]="!meetsRequirement">Save</button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div style="min-height: 10vh !important;"></div>
</ion-footer>