
.item .pcm-radio{
  position: absolute;left: 0; width: 100px;
}

.pcm-icon {
  padding-left: 30px;
}
ion-label[stacked] {
  font-size: 2.2rem;
}
#pcm-choice {
  padding: 10px;
  margin-left: 8px;
}
#pcm-input {
  border: 1px solid;
  padding: 0 10px;
  height: 3rem;
  border-radius: 5px; 
  input {
      margin-top: 5px;
  }
}
.center {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;    
}

#change-password-page #show-link {    
    position: absolute;
    z-index: 9;
    left: 170px;
    margin-top: 11px;
    font-size: small;
}

#change-password-page .popover-icon {
    position: absolute;
    z-index: 9;
    left: 144px;
    margin-top: 9px;
    font-size: larger;
    color: #FF173D;
}