<ion-header>
	<ion-navbar class="navbar-background" hideBackButton="true">
		<ion-title>Doing the Most Good</ion-title>
	</ion-navbar>
</ion-header>


<ion-content>

	<ion-toolbar secondary>
		<ion-buttons begin>
			<button ion-button icon-left (click)="back()">
       <ion-icon name="ios-arrow-back"></ion-icon>
        {{'Back' | translate}}
    </button>
		</ion-buttons>
	</ion-toolbar>


	<section id="change-password-page">
		<h4 padding>Change Password</h4>

		<ion-item no-lines *ngFor="let error of errors">
			<ion-icon name="alert" item-left></ion-icon>
			<p style="color: red">{{error}}</p>
		</ion-item>

		<ion-item no-lines class="">
			<ion-icon name="alert" *ngIf="passworderror" item-left isActive="false" [class.error]="passworderror"></ion-icon>
			<ion-label stacked>Old Password</ion-label>
			<ion-input required type="text" class="" [(ngModel)]="password" required></ion-input>
		</ion-item>

		<div class="absolute-container">
			<a id="show-link" (click)="showPassword()">{{(showpassword==='password') ? 'Show' : 'Hide'}}</a>

			<ion-icon class="popover-icon" name="information-circle" (click)="presentPasswordPopover($event)"></ion-icon>
			<ion-item no-lines [class.error]="password1error">
				<ion-icon name="lock" item-left isActive="false" [class.error]="password1error"></ion-icon>
				<ion-label stacked>{{ 'New Password' | translate}} </ion-label>
				<ion-input required [type]="showpassword" placeholder="" [(ngModel)]="password1"></ion-input>
			</ion-item>
		</div>
		<ion-item no-lines class="">
			<ion-icon name="lock" item-left isActive="false" [class.error]="password2error"></ion-icon>
			<ion-label stacked>Confirm New Password</ion-label>
			<ion-input required type="password" placeholder="" class="" [(ngModel)]="password2" required></ion-input>
		</ion-item>

		<!--ion-list>

			<ion-list-header>
				Please select prefered contact method.
			</ion-list-header>

			<section id="pcm-choice">
				<input type="radio" [(ngModel)]="pcmethod" value="email" />
				<label>Email</label>
				<input type="radio" [(ngModel)]="pcmethod" value="sms" style="margin-left: 10px;" />
				<label>Mobile Phone</label>
			</section>

			<ion-item no-lines>
				<ion-input id="pcm-input" required type="text" [placeholder]="pcmethod" [(ngModel)]="pcvalue" required></ion-input>
			</ion-item>

			<section style="padding: 15px;">
				<ion-checkbox class="center" color="primary" [checked]="terms"></ion-checkbox>
				<span class="center" style="margin-left: 15px;" (click)="viewTerms()">I agree Pravacy &amp; Terms</span>
			</section>

		</ion-list-->

		<!--ion-item no-lines class="">
			<button ion-button color="primary" block large round (click)="register()">Register</button>
		</ion-item-->
	</section>

</ion-content>
<ion-footer class="action-footer">
	<ion-grid>
		<ion-row>
			<ion-col width-50>
				<button ion-button color="primary" (click)="back()">Cancel</button>
			</ion-col>
			<ion-col width-50>
				<button ion-button color="primary" (click)="register()">Save</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>