<style>
	.sub_admin{
		background-color:lightgrey;
	}
</style>
<ion-menu [content]="content" side="right" persistent="true">

	
		<div class="menutop">
		<button ion-button color="primary" clear *ngIf="userServices.user.id"  (click)="openPage(pages[3], '')">
				{{userServices.user.name}}
		</button>
		<span class="menuspan">Menu</span>
		</div>
	
	<ion-content style="margin-top: 50px;" >
		<ion-list id="right-menu-items" >

			<button ion-item (click)="openPage(pages[1], 'home')" >
				Home
			</button>
			<button ion-item *ngIf="userServices.user.id" (click)="openPage(pages[3], '')">
				About Me
			</button>
			<button ion-item (click)="openPage(pages[1], 'events')">
				Opportunities
			</button>
			<button ion-item (click)="openPage(pages[5], '')">
				About Us
			</button>
			<button ion-item (click)="openPage(pages[6], '')">
				Contact Us
			</button>
			<button ion-item (click)="openPage(pages[7], '')">
				Privacy &amp; Terms
			</button>
			<button ion-item *ngIf="!userServices.user.id" (click)="openPage(pages[2], '')">
				Register
			</button>
                        <button ion-item (click)="donate()">
				Donate
                        </button> 
			<button ion-item *ngIf="!userServices.user.id" (click)="openPage(pages[0], '')">
				Login 
			</button>
			<button ion-item *ngIf="userServices.user.id && userServices.user.profile.accounttype == 'A'" (click)="showAdmin1()">
				Admin >
			</button>
			<!--<button ion-item class="sub_admin" *ngIf="showAdmin" (click)="openPage(adminPages[0], '')">
				Create Event
			</button>
			<button ion-item class="sub_admin" *ngIf="showAdmin" (click)="openPage(adminPages[1], '')">
				Edit Event
			</button>-->
			<button ion-item class="sub_admin" *ngIf="showAdmin" (click)="openPage(adminPages[2], '')">
				Reports
			</button>
			<button ion-item class="sub_admin" *ngIf="showAdmin" (click)="openPage(adminPages[3], '')">
				Contact Volunteers
			</button>
			<button ion-item *ngIf="userServices.user.id" (click)="logout()">
				Logout 
			</button>
		</ion-list>
	</ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

		
<ion-footer>		
	<ion-toolbar>		
		<ion-row>		
			<ion-col *ngIf="!userServices.user.id" (click)="openPage(pages[0], '')" class="footer-col"><ion-icon class="footer-icon" name="log-in"></ion-icon>Login</ion-col>		
			<ion-col *ngIf="userServices.user.id" (click)="logout()" class="footer-col"><ion-icon  class="footer-icon" name="log-out"></ion-icon>Logout</ion-col>		
			<ion-col (click)="openPage(pages[1], 'events')" class="footer-col"><ion-icon  class="footer-icon" name="body"></ion-icon>Volunteer</ion-col>		
			<ion-col (click)="openPage(pages[1], 'home')" class="footer-col"><ion-icon  class="footer-icon" name="home"></ion-icon>Home</ion-col>		
			<ion-col *ngIf="userServices.user.id" (click)="openPage(pages[9], '')" class="footer-col"><ion-icon  class="footer-icon" name="calendar"></ion-icon>My Events</ion-col>
			<ion-col (click)="donate()" class="footer-col"><ion-icon  class="footer-icon" name="heart"></ion-icon>Donate</ion-col>		
		</ion-row>		
	</ion-toolbar>		
</ion-footer>
