// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/**
@font-face{
	font-family: Arial, sans-serif !important;
}
*/
@font-face {
  font-family: "TrajanPro";
  src: url("../assets/fonts/TrajanPro-Regular.otf") format("truetype");
}

@font-face {
  font-family: "AJensonPro";
  src: local("AJensonPro-Bold"), local("AJensonPro Bold"), url("../assets/fonts/AJensonPro-Bold.otf") format("truetype"); 
}

@font-face {
  font-family: "AJensonPro";
  src: local("AJensonPro-Regular"), local("AJensonPro Regular"), url("../assets/fonts/AJensonPro-Regular.otf") format("truetype"); 
}

@font-face {
  font-family: "AJensonPro";
  font-style: italic;
  src: local("AJensonPro-Italic"), local("AJensonPro-Italic"), url("../assets/fonts/AJensonPro-It.otf") format("truetype"); 
}

h1, h2, h3, h4, h5, h6 {
    font-family: TrajanPro;
    //font-family: Arial;
}
h6 {
  font-weight: bold;
}
.toolbar-content, ion-footer button {
    font-family: TrajanPro;
    //font-family: Arial;
}

app-header > ion-navbar > div.toolbar-background {
    background-image: url("../assets/img/logo2.svg");
    background-repeat: no-repeat;
    background-size: auto 85%;
    background-position: left 5px top 5px;
 //   background-color: white;
}

ion-header > ion-navbar > div.toolbar-background {
    background-image: url("../assets/img/logo2.svg");
    background-repeat: no-repeat;
    background-size: auto 85%;
    background-position: left 5px top 5px;
  //  background-color: white;
}

#right-menu > div {
  text-align: right;
}
#right-menu-items > ion-item > div.item-inner > div > ion-label {
  text-align: right;
}

//CUSTOM CONTENT
.content-pad{
    max-width: 95%;
    margin: auto;
}

.flex-card{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin: 0 !important;
    width: auto !important;
    
}

button.readmore{
    margin-top: auto;
}

.item-label-stacked .text-input, .item-label-floating .text-input {
    border: 1px solid;   
    padding: 0 10px;
    height: 3rem;
    border-radius: 5px;
}

.item-md.item-input.input-has-focus .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
.list-md .item-input.input-has-focus:last-child
{
  border-bottom-color: transparent;
  box-shadow: inset 0 0 0 0 transparent;
}

.item-md.item-input.input-has-focus .item-inner .text-input,
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner .text-input {
  border-color: map-get($colors, primary);
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner .text-input,
.item-md ion-select, .item-md ion-datetime {
  border-color: map-get($colors, secondary);
}

.multi-choice {
  float: left;
  width: 230px;
}

.radio-choice {
  float: left;
  width: 102px;
}

.multi-choice ion-label {
  font-size: 0.9em;
  white-space: normal;
}

.label-ios[stacked],
.label-md[stacked],
.label-ios[stacked],
ion-label {
  font-size: 1.6rem;
  color: black;
}

ion-select {
  margin-right: 8px;
}

ion-select, ion-datetime {
  border: 1px solid;
  padding-left: 10px !important;
  border-radius: 5px;
}

.scroll-content {
  overflow: auto;
}

ion-footer {
  text-align: center;
}

ion-footer button {
  width: 8em;
}

ion-list.toggle-section.list-md {
  margin-bottom: 0px !important;
}

ion-list.toggle-section {
  margin-bottom: 10px !important;
}

ion-list.toggle-section ion-list-header {
  margin-top: 0px;
  border-top: 1px solid #ccc;
} 

ion-list.toggle-section:not(:last-child) ion-list-header {
  border-bottom: none;
} 

ion-list.toggle-section ion-list-header.selected {
  background-color: #ddd;
  color: black;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
} 

ion-list.toggle-section .toggle-section-content.hide-section {
  max-height: 0px;
}

ion-list.toggle-section .toggle-section-content {
 -webkit-transition: max-height 0.2s ease-in-out;
  -moz-transition: max-height 0.2s ease-in-out;
  -ms-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
  max-height: 800px;
  overflow: hidden;
}

.toolbar-title {
  margin-left: 35px;
  font-size: 1.4rem;
}

.toolbar-title-ios {
    font-size: 1.4rem;
    text-align: left;
}

.toolbar-ios ion-title {
  padding: 0 12px;
}

.sal-att-logo-container {
  text-align: center; 
}
// Global features
.absolute-container {
  display: inline-block;
  width: 100%;
  position: relative;
}

.md .popover-icon {
  margin-left: 20px;
}
.md #show-link {
  margin-left: 20px;
}

.action-footer {
  background-color: black;
}

@media (min-width: 1024px) {
  ion-nav > ng-component > ion-header > app-header > ion-navbar > ion-buttons > button {
    visibility: hidden;
  }
  ion-menu {
    left: auto;
    width: 312px;
    display: block;
  } 
  ion-menu > .menu-inner {
    transform: translateX(0px);
  }
  ion-nav {
    width: calc(100% - 312px);
    @media (min-width: 1258px) {
    #home-body {
      max-width: 900px;
      margin-left: calc(50% - 450px);
    }
    }
  }
  #home-header {
   // display: none;
  }
}

#account-login {
  display: block;
  ion-icon {
    font-size: 150px;
    margin-left: 60px;
    height: 50px
  }
  button {
    margin-left: 104px;
  }
}
#account-logout {
  display: block;
  ion-icon {
    font-size: 150px;
    margin-left: 82px;
    height: 50px
  }
  button {
    margin-left: 96px;
  }
}
.phone-number {
  margin-top: -20px;
}
.phone-number ion-label {
  display: none;
}
.phone-number ion-col ion-item {
  padding-left: 6px;
}

.homeslider{
	width:100%; 
	height:30vh;
	
	div{
		max-height: 30vh;
		width: 100%;
	}
	
	img{
		object-fit:contain !important;
		max-height: 30vh !important;	
	}
}