<style>
	.sub_menu{
		margin-left:3em;
	}
</style>
<ion-menu [content]="content" persistent="true" side="right">


		<div class="menutop">
		<button ion-button color="primary" clear *ngIf="userServices.user.id"  (click)="openPage(pages[3], '')">
				{{userServices.user.name}}
		</button>
		<span class="menuspan">Menu</span>
		</div>

	<ion-content style="margin-top: 50px;" >
		<ion-list id="right-menu-items" >

			<button ion-item (click)="openPage(pages[1], 'home')" >
				Home
			</button>
			<button ion-item (click)="showCenterOptions()">
				Carr P. Collins Center
			</button>
			<button *ngIf="showCenterMenu" ion-item (click)="openPage(pages[5], '')">
				<span class="sub_menu">About Us</span>
			</button>
			<button *ngIf="showCenterMenu" ion-item (click)="openPage(pages[12], '')">
					<span class="sub_menu">Services</span>
			</button>
			<button *ngIf="showCenterMenu" ion-item (click)="openPage(pages[13], '')">
				<span class="sub_menu">Programs</span>
			</button>
			<button ion-item *ngIf="userServices.user.id" (click)="showMyGroups()">
				Profile
			</button>
			<button ion-item *ngIf="showMyGroupsMenu && userServices.user.id" (click)="openPage(pages[3], '')">
				<span class="sub_menu">My Profile</span>
			</button>
			<button ion-item *ngIf="showMyGroupsMenu && userServices.user.id" (click)="openPage(pages[9], '')">
				<span class="sub_menu">My Groups</span>
			</button>

			<button ion-item (click)="openPage(pages[14], 'events')">
				Opportunities
			</button>
			<button ion-item (click)="redKettle()">
				Register to Ring
			</button>
			<button ion-item (click)="openPage(pages[6], '')">
				Contact Us
			</button>
			<button ion-item (click)="openPage(pages[7], '')">
				Privacy &amp; Terms
			</button>
			<button ion-item *ngIf="!userServices.user.id" (click)="openPage(pages[2], '')">
				Register
			</button>
                        <button ion-item (click)="donate('donate')">
				Donate
                        </button>
			<button ion-item *ngIf="!userServices.user.id" (click)="openPage(pages[0], '')">
				Login
			</button>
			<button ion-item *ngIf="userServices.user.id && userServices.user.profile.accounttype == 'A' && platform.is('core')" (click)="showAdmin1()">
				Admin
			</button>
			<!--<button ion-item class="sub_menu" *ngIf="showAdmin" (click)="openPage(adminPages[0], '')">
				Create Event
			</button>
			<button ion-item class="sub_menu" *ngIf="showAdmin" (click)="openPage(adminPages[1], '')">
				Edit Event
			</button>-->
			<button ion-item *ngIf="showAdmin && userServices.user.id && userServices.user.profile.accounttype == 'A'" (click)="openPage(adminPages[2], '')">
				<span class="sub_menu">Event Registration Data</span>
			</button>
			<button ion-item *ngIf="showAdmin && userServices.user.id && userServices.user.profile.accounttype == 'A'" (click)="openPage(adminPages[3], '')">
				<span class="sub_menu">Contact Volunteers</span>
			</button>
			<button ion-item *ngIf="showAdmin && userServices.user.id && userServices.user.profile.accounttype == 'A'" (click)="openPage(adminPages[4], '')">
				<span class="sub_menu">Groups</span>
			</button>
			<button ion-item (click)="openPage(pages[15], '')">
				Our History
			</button>
			<button ion-item *ngIf="userServices.user.id" (click)="logout()">
				Logout
			</button>
		</ion-list>
	</ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<ion-footer [hidden]="keyboard.isOpen()">
	<ion-toolbar>		
		<ion-row>	
			<ion-col [class.currentPage]="currentPage == 'Home'" (click)="openPage(pages[1], 'home')" class="footer-col"><ion-icon  class="footer-icon" name="home"></ion-icon>Home</ion-col>			
			<ion-col [class.currentPage]="currentPage == 'My Home'" *ngIf="volunteerEvents.myEvents.length > 0" (click)="openPage(pages[14], '')" class="footer-col"><ion-icon  class="footer-icon" name="calendar"></ion-icon>My Events</ion-col>
			<ion-col (click)="donate()" class="footer-col"><ion-icon  class="footer-icon" name="heart"></ion-icon>Donate</ion-col>		
			<ion-col *ngIf="isRedKettleSeason()" (click)="redKettle()" class="footer-col"><ion-icon  class="footer-icon" name="notifications"></ion-icon>Red Kettle</ion-col>			
			<ion-col class="footer-col" menuToggle><ion-icon  class="footer-icon" name="menu"></ion-icon>More</ion-col>		
			<!-- <ion-col *ngIf="!userServices.user.id" (click)="openPage(pages[0], '')" class="footer-col"><ion-icon class="footer-icon" name="log-in"></ion-icon>Login</ion-col> -->
			<!-- <ion-col *ngIf="userServices.user.id" (click)="logout()" class="footer-col"><ion-icon class="footer-icon" name="log-out"></ion-icon>Logout</ion-col> -->
			<!-- <ion-col (click)="openPage(pages[1], 'events')" class="footer-col"><ion-icon  class="footer-icon" name="body"></ion-icon>Volunteer</ion-col>		 -->
		</ion-row>		
	</ion-toolbar>		
</ion-footer>
