<ion-menu [content]="content" side="right" persistent="true">

	<ion-toolbar >
		<ion-buttons begin *ngIf="!isBack">
			<button *ngIf="userServices.user.id" ion-button icon-left (click)="profile()">
				{{userServices.user.name}}
			</button>
		</ion-buttons>
		<ion-title id="right-menu">Menu</ion-title>
	</ion-toolbar>

	<ion-content style="margin-top: 45px;" >
		<ion-list id="right-menu-items" >
			<ion-item icon-left (click)="openPage(pages[1], 'home')" >
				Home
			</ion-item>
			<ion-item icon-left (click)="openPage(pages[1], 'events')">
				Search Upcoming Events
			</ion-item>
			<ion-item icon-left (click)="openPage(pages[5])">
				About
			</ion-item>
			<ion-item icon-left (click)="openPage(pages[6])">
				Contact Us
			</ion-item>
			<ion-item *ngIf="!userServices.user.id" icon-left (click)="openPage(pages[2])">
				Register
			</ion-item>
			<ion-item *ngIf="userServices.user.id" icon-left (click)="openPage(pages[3])">
				Profile
			</ion-item>
			<ion-item *ngIf="!userServices.user.id" icon-left (click)="openPage(pages[0])">
				Login
			</ion-item>
			<ion-item *ngIf="userServices.user.id" icon-left (click)="logout()">
				Logout
			</ion-item>
		</ion-list>
	</ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>