<ion-navbar class="navbar-background" hideBackButton="true">
  <ion-buttons end>
    <button ion-button icon-only menuToggle style="display: inline-block;">
      <ion-icon name="menu"></ion-icon>
    </button>
	</ion-buttons>

</ion-navbar>
<ion-toolbar secondary id="home-header">
	<ion-buttons begin *ngIf="!isBack">
		<button *ngIf="userServices.user.id" ion-button icon-left (click)="profile()">
       {{userServices.user.name}}
    </button>
	</ion-buttons>

  <ion-buttons *ngIf="isBack">
  			<button ion-button icon-left color="secondary" clear (click)="back()">
				<ion-icon name="ios-arrow-back"></ion-icon> {{title | translate}}
			</button>
  </ion-buttons>

  <ion-buttons end *ngIf="!isBack">
        <ng-content></ng-content>  
  </ion-buttons>
</ion-toolbar>