.md, .ios {
  ion-card{
  
    img{
    max-width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    }
  }
}

linked-group {
  color: blue;
  font-style: italic; 
  input[type=submit]:hover{
    text-decoration:underline;
  }
}
