<ion-header>
    <app-header back="true" title="My Groups">
    </app-header>
</ion-header>

<ion-content>
    <section id="legend-header">
        <ion-grid>
            <ion-row>
                <ion-col col-3>Membership Legend</ion-col>
                <ion-col col-3></ion-col>
                <ion-col col-3><ion-icon name="person"></ion-icon> Group Admin</ion-col>
                <ion-col col-3><ion-icon name="people"></ion-icon> Group Member</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3>Status Legend</ion-col>
                <ion-col col-3><ion-icon name="checkmark"></ion-icon> active</ion-col>
                <ion-col col-3><ion-icon name="help"></ion-icon> pending</ion-col>
                <ion-col col-3><ion-icon name="remove"></ion-icon> inactive</ion-col>
            </ion-row>
        </ion-grid>
    </section>
    <hr/>
    <section id="mygroups-list">
        <ion-grid>
            <ion-row style="font-weight:bold">
                <ion-col col-3></ion-col>
                <ion-col col-3>Organization</ion-col>
                <ion-col col-3>Group Name</ion-col>
                <ion-col col-3>Status</ion-col>
            </ion-row>

            <div *ngFor="let group of groups">
                <ion-row>
                    <ion-col col-3 *ngIf="this.group.role==1" ><ion-icon name="person" (click)="openEditGroupAttendance(this.group.organization_id, this.group.name, this.group.group)"></ion-icon></ion-col>
                    <ion-col col-3 *ngIf="this.group.role!=1" ><ion-icon name="people"></ion-icon></ion-col>
                    <ion-col col-3>{{this.group.name}}</ion-col>
                    <ion-col col-3 class="linked-group" (click)=openGroupProfile(this.group.organization_id)>{{this.group.group}}</ion-col>
                    <ion-col col-3 *ngIf="this.group.status == 0"><ion-icon name="checkmark"></ion-icon></ion-col>
                    <ion-col col-3 *ngIf="this.group.status == 1"><ion-icon name="help"></ion-icon></ion-col>
                    <ion-col col-3 *ngIf="this.group.status == 2"><ion-icon name="remove"></ion-icon></ion-col>
               </ion-row>
            </div>
        </ion-grid>
    </section> 
    
    <section>
        <ion-grid>
            <ion-row>
                <ion-col></ion-col>
                <ion-col>
                    <button ion-button color="primary" (click)="back()">Cancel</button>
                </ion-col>
                <ion-col></ion-col>
                <ion-col>
                    <button ion-button (click)="pushGroupPage()" color="primary">Create Group</button>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-grid>
    </section>
</ion-content>

