
<ion-row responsive-sm wrap>
    <!--  NG REPEAT THIS -->
    <ion-col width-50 class="flex-card" *ngFor="let e of volunteerEventsService.myEvents">
        <ion-card class="flex-card" style="">
            <img *ngIf="e?.image && e.image[0].image != 'no image'" [src]="e.image[0].image" />

            <ion-card-content>
                <ion-item>
                    <h2 class="card-title">
                        {{e.title}}
                    </h2>
                </ion-item>

                <ion-item>
                    <ion-icon item-left name="calendar"></ion-icon>
                    <!--p>{{e.start | parseTimeZone:"MMM DD"}} - {{e.end | parseTimeZone:"MMM DD"}} {{e.end | parseTimeZone:"YYYY"}}</p-->
                    <p>{{e.start | parseTime:"MMM DD"}} {{e.end | parseTime:"YYYY"}}</p>
                    <!--p>{{e.start | parseTimeZone: 'h:mm A'}}-{{e.end | parseTimeZone: 'h:mm A'}} {{e.start | parseTimeZone:'z'}}</p-->
                    <p>{{e.start | parseTime: 'h:mm A'}}-{{e.end | parseTime: 'h:mm A'}}</p>
                </ion-item>
                
                <ion-item *ngIf="e.location_name">
                    <ion-icon item-left name="pin"></ion-icon>
                    <p>{{e.location_name}}</p>
                    <span *ngIf="e.location_address1">
                        <p>{{e.location_address1}}</p>
                        <span *ngIf="e.location_address2">
                            <p>{{e.location_address2}}</p>
                        </span>
                        <p>{{e.location_city}}, {{e.location_state}} {{e.location_zipcode}}</p>
                    </span>
                </ion-item>
                <!--<p>{{e.description}}</p>-->
                <ion-item >
                    <ion-label class="togglelabel" >Would you like to receive event reminders?</ion-label>
                    <ion-toggle class="toggleswitch" id="toggleReminder" (ionChange)="updateEventReminder(e.event_id,e.event_notification_schedule,$event)" checked="{{e.notification_schedule>0}}"></ion-toggle>
          
                </ion-item>
                <ion-item >
                    <button (click)="eventDetailModal(e.event_id)" ion-button small item-left round>Details</button>
                    <button (click)="cancelEventRegisteration(e.event_id)" ion-button small item-right round>Cancel Sign-Up</button>
                </ion-item>
            </ion-card-content>
            <!--button padding ion-button class="readmore">Read more</button>
            <ion-row no-padding>
              <ion-col>
                <button icon-only ion-button clear small color="danger" icon-left>
          <ion-icon name='star'></ion-icon>
        </button>
              </ion-col>
              <ion-col text-center>
                <button ion-button clear small color="danger" icon-left>
          <ion-icon name='calendar'></ion-icon>
          Attend
        </button>
              </ion-col>
              <ion-col text-right>
                <button ion-button clear small color="danger" icon-left>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button-->
        </ion-card>
    </ion-col>
</ion-row>