<ion-header>
  <ion-navbar>
    <button (click)="search=true" *ngIf="!search" id="searchbutton">
      <ion-icon name="search"></ion-icon>
    </button>
    <ion-title *ngIf="!search">Home</ion-title>
    <ion-searchbar (ionInput)="getItems($event)" *ngIf="search" showCancelButton="true" (ionCancel)="onCancel($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>
<ion-content>

  <section id="tab-content">
    <ion-list>
      <ion-item no-lines class="welcome-header">
        <h1>Welcome back, Mauricio</h1>
        <ion-icon name="trophy" item-right large-font></ion-icon>
        <ion-icon name="mail" item-right large-font></ion-icon>
      </ion-item>

      <ion-card>
        <ion-item no-lines class="closed-tab" (click)="yourevents=!yourevents">
          Your Volunteer Events
          <ion-icon name="arrow-down" item-right *ngIf="!yourevents"></ion-icon>
          <ion-icon name="arrow-up" item-right *ngIf="yourevents"></ion-icon>
        </ion-item>
        <section *ngIf="!yourevents">
          <ion-item *ngFor="let e of events">
            <p class="thin-item">{{e.title}}</p>
            <ion-row>
              <ion-col>
                <p>{{e.start | date:"MM/dd/yy"}}</p>
              </ion-col>
              <ion-col>
                <p><b>{{e.start | date:'shortTime'}}</b></p>
              </ion-col>
              <ion-col>
                <p>{{e.location_name}}</p>
              </ion-col>
            </ion-row>
            <h4>Details:</h4>
            <p>{{e.description}}</p>
          </ion-item>
        </section>
      </ion-card>

      <ion-card>
        <ion-item no-lines class="open-tab" (click)="upcoming=!upcoming">
          Upcoming Volunteer Events
          <ion-icon name="arrow-down" item-right *ngIf="!upcoming"></ion-icon>
          <ion-icon name="arrow-up" item-right *ngIf="upcoming"></ion-icon>
        </ion-item>
        <section *ngIf="!upcoming">
          <ion-item *ngFor="let e of events">
            <p class="thin-item">{{e.title}}</p>
            <ion-row>
              <ion-col>
                <p>{{e.start | date:"MM/dd/yy"}}</p>
              </ion-col>
              <ion-col>
                <p><b>{{e.start | date:'shortTime'}}</b></p>
              </ion-col>
              <ion-col>
                <p>{{e.location_name}}</p>
              </ion-col>
            </ion-row>
            <h4>Details:</h4>
            <p>{{e.description}}</p>
          </ion-item>
        </section>
      </ion-card>

      <ion-card>
        <ion-item no-lines class="closed-tab" (click)="previousevents=!previousevents">
          Previously Events
          <ion-icon name="arrow-down" item-right *ngIf="!previousevents"></ion-icon>
          <ion-icon name="arrow-up" item-right *ngIf="previousevents"></ion-icon>
        </ion-item>
        <section *ngIf="!previousevents">
          <ion-item *ngFor="let e of events">
            <p class="thin-item">{{e.title}}</p>
            <ion-row>
              <ion-col>
                <p>{{e.start | date:"MM/dd/yy"}}</p>
              </ion-col>
              <ion-col>
                <p><b>{{e.start | date:'shortTime'}}</b></p>
              </ion-col>
              <ion-col>
                <p>{{e.location_name}}</p>
              </ion-col>
            </ion-row>
            <h4>Details:</h4>
            <p>{{e.description}}</p>
          </ion-item>
        </section>
      </ion-card>

    </ion-list>
  </section>
</ion-content>