//@media (min-width :900px) {
  //ion-tabbar {
   // top: 98px;
   // bottom: auto !important ;
 // }
//}



//@media (min-width :900px) {
    #tab-content {      
        max-width: 900px;
   //     margin: 90px auto 0 auto;
    }
//}