#home {
    .welcome-header {
    background: whitesmoke;
    //padding: 0;
    margin: 0;
    }
    .closed-tab {
        background: silver;
        color: white;
    }
    .open-tab {
        background: grey;
        color: white;
    }
    .thin-item{
    background: whitesmoke;
        margin: 1px;
        padding: 10px
    }
}
ion-title {
    margin-left: 55px;
    width: auto;
    padding: 0;
}
ion-icon[large-font] {
    font-size: 4rem;
    margin: 0 20px 0 0px;
}
#searchbutton {
    float: left;
}

#login-bar{
    background: lightgrey;
    display: block;
    width: 100%;
    height: 54px;
    //position: absolute;
    //z-index: 2;
    #language-select {
        float: left;
        padding: 5px;
        background: white;
        font-size: x-large;
        margin: 7px 7px 7px 25px;
        width: 132px;
        .select-icon {
            width: 15px;
            height: 27px;
        }
    }
    #login-button {
        float: right;
        padding: 5px;
        width: 85px;
        margin-right: 15px;

    }

}
ion-searchbar {
    background: white;

}
.searchbar-input {
     border:1px solid;
}