<ion-grid>
    <ion-row style="font-weight: bold">
        <ion-col col-1>
            <ion-checkbox [(ngModel)]="allChecked" [checked]="false" 
               (click)="toggleSelectAll($event)"></ion-checkbox>
        </ion-col>
        <ion-col *ngFor="let colTitle of listMetaData[listType].header" col-2>
            {{colTitle}}
        </ion-col>
    </ion-row>
    <ion-row *ngFor="let listItem of listItems">
        <ion-col col-1>
            <ion-checkbox [checked]="false"></ion-checkbox>
        </ion-col>
        <ion-col *ngFor="let field of listMetaData[listType].fields" col-2>
         <span *ngIf="field === 'start'">{{listItem[field]  | date:'medium' }}</span>                
         <span *ngIf="field !== 'start'">{{listItem[field]}}</span>                

        </ion-col>   
    </ion-row>
</ion-grid>