#searchbar {
    background: white;
    padding: 0;
}
.searchbar-input {
     border:1px solid;
}
#results {
    text-align: center;
    font-size: large;
    padding-top: 15px;
}
.item-block {
    width: 100% !important;
}
img.main{
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
    width: 100%;
}
.sortButton{

}
.platform-android .alertReminder{
    background-color: white;
    color: black;
    button{
        background-color: #cc1f2c;       
        color:white;
        border:1px solid;
    }
}
.platform-ios .alertReminder{
    background-color: white;
    color: black;   
    button{       
        background-color: #cc1f2c;
        color:white;
        border:2px solid;      
    }
}
