<ion-searchbar id="searchbar" (ionInput)="getItems($event)"></ion-searchbar>
<div  *ngIf="!showAdvancedItems">
<button ion-button small color="primary" (click)="showAdvancedItems = !showAdvancedItems">Advanced Search</button>
</div>
<div  *ngIf="showAdvancedItems">
    <button ion-button small color="primary" (click)="presentPopover($event)">
    Sort By
</button>
<button ion-button small color="primary" disabled="true" (click)="presentPreferences($event)">
 My Preferences 
</button>
<button ion-button small color="primary"  (click)="showAdvancedItems = !showAdvancedItems">
  Hide Options 
</button>
</div>

<div id="results" *ngIf="searching">Search Results</div>
<!-- Removed per Requirements  <img class="main" src="assets/img/logo2.jpg" /> -->
<div *ngIf="searching && noResults">No Results Found</div>

<ion-row responsive-sm wrap>
    <ion-col width-50 class="flex-card" *ngFor="let e of searchedEvents; let i=index">
        <ion-card *ngIf="e.visibility==0" class="flex-card">
            <ion-card-content>
                <ion-list-header (click)="!showDetails[i] ? showDetails[i]=true : showDetails[i]=false">
                    <h2>{{e.title}}</h2>
                    <ion-icon *ngIf="!showDetails[i]" primary item-right name="ios-add-circle-outline"></ion-icon>
                    <ion-icon *ngIf="showDetails[i]" primary item-right name="ios-remove-circle-outline"></ion-icon>
                </ion-list-header>
                    <ion-list no-lines>
                        <span *ngIf="showDetails[i]">
                        <ion-item >
                            <img src="assets/img/bucket.jpg" />
                        </ion-item>
                        <ion-item>
                            <p>{{e.description}}</p>
                        </ion-item>
                        </span>
                        <ion-item>
                            <ion-icon item-left name="calendar"></ion-icon>
                            <!--p>{{e.start | parseTimeZone:"MMM DD"}} - {{e.end | parseTimeZone:"MMM DD"}} {{e.end | parseTimeZone:"YYYY"}}</p-->
                            <p>{{e.start | parseTime:"MMM DD"}} - {{e.end | parseTime:"MMM DD"}} {{e.end | parseTime:"YYYY"}}</p>
                            <!--p>{{e.start | parseTimeZone: 'h:mm A'}}-{{e.end | parseTimeZone: 'h:mm A'}} {{e.start | parseTimeZone:'z'}}</p-->
                            <p>{{e.start | parseTime: 'h:mm A'}}-{{e.end | parseTime: 'h:mm A'}}</p>
                        </ion-item>
                        <ion-item *ngIf="e.location_name">
                            <ion-icon item-left name="pin"></ion-icon>
                            <p>{{e.location_name}}</p>
                            <span *ngIf="e.location_address1">
                        <p>{{e.location_address1}}</p>
                        <span *ngIf="e.location_address2">
                        <p>{{e.location_address2}}</p>
                        </span>
                            <p>{{e.location_city}}, {{e.location_state}} {{e.location_zipcode}}</p>
                            </span>
                        </ion-item>
                        <ion-item *ngIf="userServices.user.id">
                        <button ion-button item-left small color="primary" (click)="eventDetailModal(e.id)" >Details</button>
                        <button ion-button item-right small color="primary" *ngIf="!amISignedUp(e.id)" (click)="signup(e.id)" >Sign up</button>
                        <button ion-button item-right small color="primary" *ngIf="amISignedUp(e.id)" (click)="deRegister(e.id)" >Cancel</button>
                   
                        </ion-item>

                    </ion-list>
            </ion-card-content>
            <!--button padding ion-button class="readmore">Read more</button>
            <ion-row no-padding>
              <ion-col>
                <button icon-only ion-button clear small color="danger" icon-left>
          <ion-icon name='star'></ion-icon>
        </button>
              </ion-col>
              <ion-col text-center>
                <button ion-button clear small color="danger" icon-left>
          <ion-icon name='calendar'></ion-icon>
          Attend
        </button>
              </ion-col>
              <ion-col text-right>
                <button ion-button clear small color="danger" icon-left>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button-->
        </ion-card>
    </ion-col>
    <span *ngIf="stubEvents.length>0">
    <button ion-button item-right small color="primary" (click)="showMoreEvents()" >Show more events</button>
    </span>
</ion-row>