

.detail-popover ion-content{
 padding-top:65px;
 overflow-y:auto;
 max-height:400px;
 word-wrap: break-word;
 display:inline-block;
 margin-bottom:30px;
}
.detail-popover ion-content.content.content-ios ::-webkit-scrollbar{
 display:none;
}
.detail-popover ion-footer.action-footer{

display:inline-flex;
overflow:hidden;
position:absolute;
}

.popover-md .popover-content, .popover-ios .popover-content{
    width:80%;
    overflow:hidden;
  
}
