<ion-searchbar id="searchbar" (ionInput)="getItems($event)"></ion-searchbar>
<div id="results" *ngIf="searching">Search Results</div>
<div *ngIf="searching && noResults">No Results Found</div>

<ion-row responsive-sm wrap>
    <!--  NG REPEAT THIS -->
    <ion-col width-50 class="flex-card" *ngFor="let e of searchedEvents">
        <ion-card class="flex-card" style="">
            <img *ngIf="e?.image && e.image[0].image != 'no image'" [src]="e.image[0].image" />

            <ion-card-content>
                <h2 class="card-title">
                    {{e.title}}
                </h2>
                <ion-row>
                    <ion-icon name="calendar"></ion-icon>
                    <ion-col>
                        <p>{{e.start | date:"MM/dd"}} - {{e.end | date:"MM/dd"}}</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <p><b>{{e.start | date:'shortTime'}}-{{e.end | date:'shortTime'}} {{e.start | date:'Z'}}</b></p>
                </ion-row>
                <ion-row *ngIf="e.location_name">
                    <ion-icon name="pin"></ion-icon>
                    <ion-col>
                        <p>{{e.location_name}}</p>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="e.location_address1">
                    <p>{{e.location_address1}}, {{e.location_city}}, {{e.location_state}} {{e.location_zipcode}}</p>
                </ion-row>
                <p>{{e.description}}</p>
            </ion-card-content>
            <!--button padding ion-button class="readmore">Read more</button>
            <ion-row no-padding>
              <ion-col>
                <button icon-only ion-button clear small color="danger" icon-left>
          <ion-icon name='star'></ion-icon>
        </button>
              </ion-col>
              <ion-col text-center>
                <button ion-button clear small color="danger" icon-left>
          <ion-icon name='calendar'></ion-icon>
          Attend
        </button>
              </ion-col>
              <ion-col text-right>
                <button ion-button clear small color="danger" icon-left>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button-->
        </ion-card>
    </ion-col>
</ion-row>