<ion-header>
  <ion-navbar class="navbar-background" hideBackButton="true">
  </ion-navbar>
  <ion-toolbar>
  <span *ngIf="eventDetail">{{eventDetail.title}}</span>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="eventDetail">
    <ion-item>
      <ion-icon *ngIf="eventDetail.status_notes" name="add" item-right (click)="showStatus=!showStatus"></ion-icon>
      <p>Event Status: {{eStatus[eventDetail.status]}}</p>
    </ion-item>
    <ion-item *ngIf="showStatus && eventDetail.status_notes">
      <p>Status notes: {{eventDetail.status_notes}}</p>
    </ion-item>
    <ion-item *ngIf="signedUp">
      <p>Registration status: registered</p>
    </ion-item>
    <ion-item>
      <p *ngIf="eventDetail.volunteercount !=null">Number of volunteers: {{eventDetail.volunteercount}}</p>
      <p *ngIf="eventDetail.max_volunteers !=null">Maximum number of volunteers: {{eventDetail.max_volunteers}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" item-left></ion-icon>
      <!--p>{{eventDetail.start | parseTimeZone:"MMM DD"}} - {{eventDetail.end | parseTimeZone:"MMM DD"}} {{eventDetail.end | parseTimeZone:"YYYY"}}</p-->
      <p>{{eventDetail.start | parseTime:"MMM DD"}} - {{eventDetail.end | parseTime:"MMM DD"}} {{eventDetail.end | parseTime:"YYYY"}}</p>
      <!--p>{{eventDetail.start | parseTimeZone: 'h:mm A'}}-{{eventDetail.end | parseTimeZone: 'h:mm A'}} {{eventDetail.start
        | parseTimeZone:'z'}}</p-->
      <p>{{eventDetail.start | parseTime: 'h:mm A'}}-{{eventDetail.end | parseTime: 'h:mm A'}}</p>
      <p>Time until event: {{eventDetail.start | timeFromNow}}</p>
    </ion-item>
    <ion-item *ngIf="eventDetail.location_name">
      <ion-icon name="pin" item-left></ion-icon>
      <p>{{eventDetail.location_name}}</p>
      <span *ngIf="eventDetail.location_address1">
      <p>{{eventDetail.location_address1}}</p>
    </span>
      <span *ngIf="eventDetail.location_address2">
      <p>{{eventDetail.location_address2}}</p>
    </span>
      <p>{{eventDetail.location_city}}, {{eventDetail.location_state}} {{eventDetail.location_zipcode}}</p>
    </ion-item>
    <ion-item (click)="(showDetails=!showDetails);editEventDetailsAdmin('visible');cancelEventDetailsEdit('hidden')">
      <p>Event Details</p>
      <ion-icon *ngIf="!showDetails" primary item-right name="ios-add-circle-outline"></ion-icon>
      <ion-icon *ngIf="showDetails" primary item-right name="ios-remove-circle-outline"></ion-icon>
    </ion-item>
    <ion-item *ngIf="(this.showEditDetails=='visible') && (showDetails)">
      <p>{{eventDetail.description}}</p>
      <span *ngIf="eventDetail.eventimages.length !=0">
       <img [src]="eventDetail.eventimages[0].thumbnail" />

       </span>
      <p *ngIf="eventDetail.eventimages.length ==0">There are no images for this event</p>
      <p *ngIf="eventDetail.serviceareas.length ==0">There are no service areas associated with this event</p>
      <p>Gender restrictions: {{gender[eventDetail.gender_restriction]}}</p>
      <p>Age restriction: {{aRestriction[eventDetail.age_restriction]}}</p>
      <p>Volunteer type restrictions: {{vRestriction[eventDetail.volunteer_restriction]}}</p>
      <p>Same day sign in allowed: {{sdRestriction[eventDetail.same_day_registration]}}</p>
      <p>Event notification: {{nOptions[eventDetail.notification_option]}}</p>
      <p>Special instructions: {{eventDetail.special_instructions}}</p>
    </ion-item>
       <ion-item *ngIf="(this.cancelEditDetails=='visible') && (showDetails)">
          <ion-label stacked>{{"Description" | translate }}</ion-label>
          <ion-input name="eventDetail.description" type="string"  class="" [(ngModel)]="eventDetail.description"></ion-input>
        </ion-item>
        <ion-item *ngIf="(this.cancelEditDetails=='visible') && (showDetails)">
           <ion-label stacked>{{"Gender restrictions:" | translate }}</ion-label>
              <ion-select [(ngModel)]="eventDetail.gender_restriction">
              <ion-option value="0"  selected="true">None</ion-option>
              <ion-option value="1">Male</ion-option>
              <ion-option value="2">Female</ion-option>
              <ion-option value="3">Other</ion-option>
           </ion-select>
        </ion-item>  
        <ion-item *ngIf="(this.cancelEditDetails=='visible') && (showDetails)">
           <ion-label stacked>{{"Age restrictions:" | translate }}</ion-label>
              <ion-select [(ngModel)]="eventDetail.age_restriction" name="eventDetail.age_restriction">
                <!--              
                <ion-option *ngFor="let m of aRestriction" value="m">{{m}}</ion-option>
                -->
                <ion-option value="0"  selected="true">None</ion-option>
                <ion-option value="1">16 and over</ion-option>
                <ion-option value="2">under 16</ion-option>
              </ion-select>
        </ion-item>  
       <ion-item *ngIf="(this.cancelEditDetails=='visible') && (showDetails)">
           <ion-label stacked>{{"Volunteer type restrictions:" | translate }}</ion-label>
             <ion-select [(ngModel)]="eventDetail.volunteer_restriction" name="eventDetail.volunteer_restriction"> 
               <!--        
               <ion-option *ngFor="let mr of aRestriction" value="mr">{{mr}}</ion-option>
                -->          
              <ion-option value="0"  selected="true">None</ion-option>
              <ion-option value="1">Guest</ion-option>
              <ion-option value="2">Volunteer</ion-option>
              <ion-option value="3">Staff</ion-option>
           </ion-select>
        </ion-item>
       <ion-item *ngIf="(this.cancelEditDetails=='visible') && (showDetails)">
           <ion-label stacked>{{"Same day sign in allowed:" | translate }}</ion-label>
             <ion-select [(ngModel)]="eventDetail.same_day_registration" name="eventDetail.same_day_registration"> 
               <!--        
               <ion-option *ngFor="let mr of aRestriction" value="mr">{{mr}}</ion-option>
                -->          
              <ion-option value="0"  selected="true">None</ion-option>
              <ion-option value="1">Yes</ion-option>
              <ion-option value="2">No</ion-option>
              <ion-option value="3">IF STAFF</ion-option>
           </ion-select>
        </ion-item> 
       <ion-item *ngIf="(this.cancelEditDetails=='visible') && (showDetails)">
           <ion-label stacked>{{"Event notification:" | translate }}</ion-label>
             <ion-select [(ngModel)]="eventDetail.notification_option" name="eventDetail.notification_option"> 
              <ion-option value="0"  selected="true">No</ion-option>
              <ion-option value="1">Yes</ion-option>
           </ion-select>
        </ion-item>
       <ion-item *ngIf="(this.cancelEditDetails=='visible') && (showDetails)">
            <ion-label stacked>{{"Special instructions:" | translate }}</ion-label>
            <ion-input name="eventDetail.special_instructions" type="string"  class="" [(ngModel)]="eventDetail.special_instructions"></ion-input>
        </ion-item>                                    
      <ion-item *ngIf="showDetails">
          <button ion-button small color="primary" *ngIf="this.userServices.isAdmin()" (click)="editEventDetailsAdmin('hidden');cancelEventDetailsEdit('visible')">
            Edit Details
          </button> 
          <button ion-button small color="primary" *ngIf="this.userServices.isAdmin()" (click)="editEventDetailsAdmin('visible');cancelEventDetailsEdit('hidden')">
            Cancel Edit Details
          </button>
          <button ion-button small color="primary" *ngIf="this.userServices.isAdmin()" (click)="updateEventDetails()">
            Submit
          </button>          
      </ion-item>

    <ion-item>
      <p>Contact information:</p>
      <a href="mailto:Somebody@SalvationArmy.com">Somebody@SalvationArmy.com</a>
      <p *ngIf="eventDetail.contacts.length !=0">{{eventDetail.contacts[0]}}</p>
      <!--p *ngIf="eventDetail.contacts.length == 0">No contacts for this event</p-->
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="action-footer">
	<ion-grid>
		<ion-row>
			<ion-col width-50>
    <button ion-button small color="primary" *ngIf="!signedUp" (click)="signup(eventDetail.id)">Sign Up</button>
    <button ion-button small color="primary" *ngIf="signedUp" (click)="deRegister(eventDetail.id)">Cancel</button>
			</ion-col>
			<ion-col width-50>
      <button ion-button small color="primary" *ngIf="signedUp" (click)="dismiss()">Close</button>
      <button ion-button small color="primary" *ngIf="!signedUp" (click)="dismiss()">Cancel</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>