

.detail-popover ion-content {
 padding-top:65px;
 overflow-y:auto;
 max-height:400px;
 word-wrap: break-word;
 display:inline-block;
 margin-bottom:30px;
}

.detail-popover .action-footer{
position:absolute;
}


.detail-popover{
    
}

.popover-md .popover-content, .popover-ios .popover-content{
    width:80%;
}
